<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Administración de perfiles</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/map">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Perfiles</li>
          </ol>
        </nav>

        <!-- <button type="button" class="btn ms-3 btn-primary">
          <i class="bi bi-plus-circle fs-lg"></i>
          <span class="d-none d-sm-inline-block mx-1">Nuevo acuerdo</span>
        </button> -->
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <label class="mb-0 fw-bold">Búsqueda</label>
          <div>
            <button type="button" class="btn btn-sm btn-outline-primary mx-1">
              <i class="bi bi-search"></i>
              Buscar
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary mx-1">
              <i class="bi bi-brush"></i>
              Limpiar
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-info mx-1"
              (click)="onCreateProfileModal(contentCreateProfile)"
            >
              <i class="bi bi-plus-square"></i>
              Crear perfil
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-dark mx-1"
              (click)="onCreateModuleModal(contentCreateModule)"
            >
              <i class="bi bi-border-all"></i>
              Asignar módulo
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-success mx-1"
              (click)="onCreateUserModal(contentCreateUser)"
            >
              <i class="bi bi-person-plus"></i>
              Crear usuario
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row g-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <label class="form-label">Nombres</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <label class="form-label">Apellidos</label>
              <!-- <input type="text" class="form-control" placeholder="Last name" /> -->

              <input type="text" class="form-control" />
            </div>
            <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <label class="form-label">Suscriptores del acuerdo</label>
                <input type="text" class="form-control" />
              </div> -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <label for="inputState" class="form-label"
                >Nombre de perfil
              </label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <label for="inputState" class="form-label"
                >Nombre de usuario
              </label>
              <input type="text" class="form-control" />
            </div>
          </div>

          <hr />

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Nº</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Usuario</th>
                  <th>Perfil</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Juan francisco</td>
                  <td>Perez Gomez</td>
                  <td>jperez</td>
                  <td>Visualizador</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Yonny</td>
                  <td>Avila Hernandes</td>
                  <td>yavila</td>
                  <td>Visualizador</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Javier</td>
                  <td>Benavente</td>
                  <td>jbenavente</td>
                  <td>Administrador</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Percy</td>
                  <td>Remigio Huarcaya</td>
                  <td>premigio</td>
                  <td>Visualizador</td>
                </tr>
              </tbody>
            </table>
          </div>

          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
              <li class="page-item">
                <a class="page-link" href="#">Previous</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<ng-template #contentCreateProfile let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="createPerfilLabel">Crear perfil</h5>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <label class="form-label">Nombre perfil</label>
    <form [formGroup]="insertForm" (ngSubmit)="roleInsert()" novalidate>
      <div class="row g-3">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [ngClass]="{
              'input-invalid': submitted && f.name.errors?.required
            }"
          />
        </div>
        <div class="col-md-2">
          <button
            class="btn btn-sm btn-primary"
            placement="top"
            ngbTooltip="Agregar"
            type="submit"
          >
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>
    </form>
    <hr />
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td>Nº</td>
            <td>Nombre</td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of profileList; index as idx">
            <td>{{ idx + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>
              <div class="text-nowrap">
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger border-0"
                  (click)="onDeleteModal(contentDelete, item.id)"
                >
                  <i class="bi bi-trash fs-lg"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close()">
      Cerrar
    </button>
  </div>
</ng-template>

<ng-template #contentCreateUser let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="createUserLabel">Crear usuario</h5>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
  </div>
  <div class="modal-body">
    <label class="form-label">DNI</label>
    <form [formGroup]="formSearchUser" (ngSubmit)="onSearchUser()" novalidate>
      <div class="row g-3">
        <div class="col-md-4">
          <input
            type="text"
            class="form-control"
            formControlName="documentNumber"
            [ngClass]="{
              'input-invalid': submitted && h.documentNumber.errors?.required
            }"
          />
        </div>
        <div class="col-md-2">
          <button
            class="btn btn-sm btn-primary"
            type="submit"
            [disabled]="submitted"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
        <!-- <div class="col-md-4">
          <div class="form-check form-switch form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="userActive"
              formControlName="state"
            />
            <label class="form-check-label" for="userActive">Activo</label>
          </div>
        </div> -->
      </div>
    </form>
    <hr />
    <form [formGroup]="formAddRole" novalidate>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <td>DNI</td>
              <td>Nombre</td>
              <td>Apellidos</td>
              <td>Usuario</td>

              <td>Perfil</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of userList; index as idx">
              <td>{{ item.documentNumber }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.lastName }}</td>
              <td>{{ item.userName }}</td>
              <td formGroupName="role">
                <select
                  class="form-select"
                  formControlName="id"
                  (change)="onChangeRol(item.id)"
                  [ngClass]="{
                    'input-invalid':
                      (submitted &&
                        formAddRole.get('role.id').errors?.required) ||
                      (submitted && formAddRole.get('role.id').errors?.pattern)
                  }"
                >
                  <option value="0">SELECCIONE</option>
                  <option
                    *ngFor="let item of profileList; index as idx"
                    [value]="item.id"
                  >
                    {{ item.name }}
                  </option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancelar
    </button>
    <button type="button" class="btn btn-primary" (click)="addRole()">
      Guardar
    </button>
  </div>
</ng-template>
<ng-template #contentCreateModule let-modal>
  <form
    [formGroup]="formInsertRoleModule"
    (ngSubmit)="insertRoleModule()"
    novalidate
  >
    <div class="modal-header">
      <h5 class="modal-title" id="createModuleLabel">Asignar módulos</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="modal.close()"
      ></button>
    </div>
    <div class="modal-body">
      <div class="row g-3">
        <div class="col-md-6 col-sm-12">
          <label class="form-label">Seleccione perfil</label>
          <select
            id="profile"
            class="form-control"
            (change)="onChangeProfile($event.target.value)"
            formControlName="id"
            [ngClass]="{
              'input-invalid':
                (submitted && g.id.errors?.required) ||
                (submitted && g.id.errors?.pattern)
            }"
          >
            <option selected value="0">SELECCIONE</option>
            <option *ngFor="let item of profileList" [value]="item.id">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="form-label">Asigne módulos</label>
          <div
            formArrayName="modules"
            *ngFor="let item of selectedModules.controls; let i = index"
            class="form-check"
          >
            <input
              class="form-check-input"
              type="checkbox"
              [value]="moduleList[i].id"
              [id]="moduleList[i].id"
              [checked]="moduleList[i].checked"
              (change)="onCheckChange($event)"
              [formControlName]="i"
            />
            <label class="form-check-label" [for]="moduleList[i].id">
              {{ moduleList[i].name }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        (click)="modal.close()"
      >
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="submitted">
        Guardar
      </button>
    </div>
  </form>
</ng-template>
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar rol</h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <p class="text-center">
      Esta acción no se puede deshacer.
      <br />
      ¿Estás seguro?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancelar
    </button>
    <button
      type="button"
      ngbAutofocus
      (click)="roleDelete()"
      class="btn btn-primary"
    >
      Aceptar
    </button>
  </div>
</ng-template>
