<div id="main-wrapper">
  <app-navbar></app-navbar>
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav" (click)="clickAside($event)">
          <li
            routerLinkActive="user-pro"
            *ngIf="arrayModules.indexOf('/map') !== -1"
          >
            <a
              class="has-arrow"
              aria-expanded="false"
              routerLink="/map/index"
              routerLinkActive="active"
            >
              <i class="bi bi-geo-alt-fill"></i>
              <span class="hide-menu">Mapa</span>
            </a>
          </li>
          <!-- <li class="nav-small-cap">--- PERSONAL</li> -->

          <li
            routerLinkActive="user-pro"
            *ngIf="arrayModules.indexOf('/anp/index') !== -1"
          >
            <a
              class="has-arrow"
              aria-expanded="false"
              routerLink="/anp"
              routerLinkActive="active"
            >
              <i class="bi bi-newspaper"></i>
              <span class="hide-menu">Plan maestro</span>
            </a>
          </li>
          <li
            routerLinkActive="user-pro"
            *ngIf="arrayModules.indexOf('/agreement/index') !== -1"
          >
            <a
              class="has-arrow"
              aria-expanded="false"
              routerLink="/agreement"
              routerLinkActive="active"
            >
              <i class="bi bi-pencil-square"></i>
              <span class="hide-menu"> Acuerdo </span>
            </a>
          </li>
          <li
            routerLinkActive="user-pro"
            *ngIf="arrayModules.indexOf('/monitoring/index') !== -1"
          >
            <a
              class="has-arrow"
              aria-expanded="false"
              routerLink="/monitoring"
              routerLinkActive="active"
            >
              <i class="bi bi-check2-square"></i>
              <span class="hide-menu">Monitoreo</span>
            </a>
          </li>
          <li
            routerLinkActive="user-pro"
            *ngIf="arrayModules.indexOf('/reports/index') !== -1"
          >
            <a
              class="has-arrow"
              aria-expanded="false"
              routerLink="/reports"
              routerLinkActive="active"
            >
              <i class="bi bi-clipboard-data"></i>
              <span class="hide-menu">Reportes</span>
            </a>
          </li>
          <li
            routerLinkActive="user-pro"
            *ngIf="arrayModules.indexOf('/user/index') !== -1"
          >
            <a
              class="has-arrow"
              aria-expanded="false"
              routerLink="/user"
              routerLinkActive="active"
            >
              <i class="bi bi-people-fill"></i>
              <span class="hide-menu">Perfiles</span>
            </a>
          </li>

          <li
            routerLinkActive="user-pro"
            *ngIf="arrayModules.indexOf('/admin/index') !== -1"
          >
            <a
              class="has-arrow"
              aria-expanded="false"
              routerLink="/admin"
              routerLinkActive="active"
            >
              <i class="bi bi-shield-check"></i>
              <span class="hide-menu">Administrar</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <div class="container-fluid page-body-wrapper">
    <div class="wrap-main">
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>
