<app-base-map
  [mapProperties]="mapProperties"
  [mapViewProperties]="mapViewProperties"
  (mapInit)="onMapInit($event)"
>
</app-base-map>

<div id="editArea" class="editArea-container">
  <div id="addFeatureDiv">
    <h3 class="list-header">Edición de atributos de espacio</h3>
    <ul style="font-size: 13px; padding-left: 1.5em">
      <li>Haga clic en el botón Agregar hotel</li>
      <li>Añadir un nuevo hotel al mapa</li>
      <li>Cambiar tipo de hotel</li>
    </ul>
    <input
      type="button"
      class="btn btn-primary"
      value="new hotel"
      id="btnAddFeature"
      (click)="addFeature()"
    />
  </div>

  <div id="updateInstructionDiv" style="text-align: center">
    <p class="or-wrap">
      <span class="or-text" style="background-color: brown"> o </span>
    </p>
    <p>Seleccione un hotel para editar o eliminar.</p>
  </div>

  <div id="featureUpdateDiv" style="display: none; margin-top: 1em">
    <h3 class="list-header">Ingrese la información del hotel</h3>

    <div id="attributeArea">
      <div id="formDiv" style="background-color: rgba(4, 95, 189, 0)"></div>
      <input
        type="button"
        class="btn btn-info"
        value="Actualizar información del hotel"
        id="btnUpdate"
        (click)="update()"
      />
    </div>

    <div id="deleteArea">
      <input
        type="button"
        class="edit-button"
        value="Delete Hotel"
        id="btnDelete"
        (click)="delete()"
      />
    </div>
  </div>
</div>
<div id="mapViewNode"></div>
