<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Administrador</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/map">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Administrar
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <label class="mb-0 fw-bold">Tablas</label>
        </div>
        <div class="card-body bg-light">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-10">
                      <h5 class="card-title">Actividad económica</h5>
                    </div>

                    <div class="col-md-2 float-end">
                      <button
                        class="btn btn-sm btn-primary"
                        (click)="
                          onRegisterModal(contentRegister, 'economicactivity')
                        "
                      >
                        <i class="bi bi-plus-lg"></i>
                      </button>
                    </div>
                  </div>

                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <td>ID</td>
                          <td>Nombre</td>
                          <td>Descripción</td>
                          <td>Fecha</td>
                          <td>Opciones</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let item of modules['economicactivity'].items;
                            index as idx
                          "
                        >
                          <td>{{ item.id }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.description }}</td>
                          <td>
                            {{ item.registrationDate | date: "dd/MM/yyyy" }}
                          </td>

                          <td>
                            <div class="text-nowrap">
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-success border-0"
                                (click)="onUpdateModal(contentUpdate, item.id)"
                              >
                                <i class="bi bi-pencil fs-lg"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-danger border-0"
                              >
                                <i class="bi bi-trash fs-lg"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-10">
                      <h5 class="card-title">Medio verificación</h5>
                    </div>

                    <div class="col-md-2 float-end">
                      <button
                        class="btn btn-sm btn-primary"
                        (click)="onRegisterModal(contentRegister, 'MV')"
                      >
                        <i class="bi bi-plus-lg"></i>
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <td>ID</td>
                          <td>Nombre</td>
                          <td>Descripción</td>
                          <td>Fecha</td>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-10">
                      <h5 class="card-title">Fuente</h5>
                    </div>

                    <div class="col-md-2 float-end">
                      <button
                        class="btn btn-sm btn-primary"
                        (click)="onRegisterModal(contentRegister, 'F')"
                      >
                        <i class="bi bi-plus-lg"></i>
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <td>ID</td>
                          <td>Nombre</td>
                          <td>Descripción</td>
                          <td>Fecha</td>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-10">
                      <h5 class="card-title">Estado acuerdo</h5>
                    </div>

                    <div class="col-md-2 float-end">
                      <button
                        class="btn btn-sm btn-primary"
                        (click)="onRegisterModal(contentRegister, 'EA')"
                      >
                        <i class="bi bi-plus-lg"></i>
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <td>ID</td>
                          <td>Nombre</td>
                          <td>Descripción</td>
                          <td>Fecha</td>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<ng-template #contentRegister let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="createUserLabel">Crear usuario</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <label class="form-label">DNI</label>
    <div class="row g-3">
      <div class="col-md-4">
        <input type="text" class="form-control" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-sm btn-primary">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <div class="col-md-4">
        <div class="form-check form-switch form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="chkInstitutionL"
            value="option2"
          />
          <label class="form-check-label" for="chkInstitutionL">Activo</label>
        </div>
      </div>
    </div>
    <hr />
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td>DNI</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Usuario</td>
            <td>Seleccionar</td>
            <td>Perfil</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12345678</td>
            <td>Juan</td>
            <td>Perez</td>
            <td>Jperez</td>
            <td>
              <div class="text-nowrap">
                <input type="checkbox" class="form-check-input" />
              </div>
            </td>
            <td>
              <select class="form-select">
                <option>Seleccione</option>
                <option>Perfil 1</option>
                <option>Perfil 2</option>
                <option>Perfil 3</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="modal.close()"
    >
      Cancelar
    </button>
    <button type="button" class="btn btn-primary">Guardar</button>
  </div>
</ng-template>
<ng-template #contentUpdate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="createUserLabel">Crear usuario</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <label class="form-label">DNI</label>
    <div class="row g-3">
      <div class="col-md-4">
        <input type="text" class="form-control" />
      </div>
      <div class="col-md-2">
        <button class="btn btn-sm btn-primary">
          <i class="bi bi-search"></i>
        </button>
      </div>
      <div class="col-md-4">
        <div class="form-check form-switch form-check-inline">
          <input
            class="form-check-input"
            type="checkbox"
            id="chkInstitutionL"
            value="option2"
          />
          <label class="form-check-label" for="chkInstitutionL">Activo</label>
        </div>
      </div>
    </div>
    <hr />
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td>DNI</td>
            <td>Nombre</td>
            <td>Apellidos</td>
            <td>Usuario</td>
            <td>Seleccionar</td>
            <td>Perfil</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>12345678</td>
            <td>Juan</td>
            <td>Perez</td>
            <td>Jperez</td>
            <td>
              <div class="text-nowrap">
                <input type="checkbox" class="form-check-input" />
              </div>
            </td>
            <td>
              <select class="form-select">
                <option>Seleccione</option>
                <option>Perfil 1</option>
                <option>Perfil 2</option>
                <option>Perfil 3</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="modal.close()"
    >
      Cancelar
    </button>
    <button type="button" class="btn btn-primary">Guardar</button>
  </div>
</ng-template>

<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
