.a-mdi-down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.pointer {
  cursor: pointer;
  outline: none;
}

.text-label {
  font-size: 13px;
}

//custom active tab
.nav-tab {
  margin-bottom: 0 !important;

  a {
    font-weight: 600;
    color: #959595 !important;
    font-size: 15px !important;
  }
}

.active-tab {
  border-bottom: 2px solid $cl-primary;

  a {
    color: $cl-primary !important;
    font-size: 16px;
  }

}



.list-states-aviso {
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
  @extend .flex-wrap;

  li {
    width: 100%;
    margin-right: 0 !important;
  }
}

@media (min-width: 768px) {
  .list-states-aviso {
    li {
      width: 48%;
    }
  }
}

@media (min-width: 1200px) {
  .list-states-aviso {
    li {
      width: 23%;
    }
  }
}

@media (min-width: 1380px) {
  .list-states-aviso {
    li {
      width: 18%;
    }
  }
}

.rcl-active {
  background-color: $cl-primary;
  color: #fff !important;
}

.line-split {
  width: 100%;
  background-color: #dadada;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;

}

.view-aviso-postulante {
  .form-group {
    margin-bottom: 16px;
  }

  .form-control {
    border: 0 !important;
    color: #6F6F6F;
    font-size: 16px;
    font-weight: 500;
    height: auto;
    padding: 0;

  }

  label,
  .text-subtitle {
    color: #A09AA0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
    padding: 0;
  }

  .text-title {
    font-size: 17px;
    font-weight: 600;
    color: #635a5a;
    margin-bottom: 4px !important;
  }
}

.section-info {
  h3 {
    font-size: 20px;
    font-weight: 600;
    color: #A09AA0;
  }
}

.box-iconMedalCheck {
  position: absolute;
  top: 0;
  right: 0;
  margin: 14px 24PX 0 0;
}

.loader-medalCheck {
  font-size: 24px;
  margin: 6px 6px 0 0;
}

.notDataPos {
  text-align: center;
  padding: 50px 10px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #848484;
  background-color: #f1f1f1;
  border-radius: 3px;
  margin: 10px 0;
}

.flex-1 {
  flex: 1;
}
