


.list-info-ad {
    &>div {
      h4 {
        font-size: 14px;
  
        &:first-child {
          color: #756e6e;
        }
  
        &:last-child {
          color: #444;
        }
      }
  
      @include media-breakpoint-up(sm) {
        h4 {
          display: inline-block;
  
          &:first-child {
            width: 160px;
            padding-right: 16px;
            border-right: 1px solid #666;
            text-align: right;
          }
  
          &:last-child {
            padding-left: 16px;
          }
        }
      }
  
      @include media-breakpoint-up(md) {
        margin-left: 1.2em;
  
        h4 {
          display: inline-block;
          font-size: 15px;
        }
      }
  
      @include media-breakpoint-up(lg) {
        margin-left: 4em;
      }
    }
  }
  
  .list-info-ad-flex {
    &>div {
      @include media-breakpoint-up(md) {
        display: flex;
      }
  
      h4 {
        &:last-child {
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
  
        }
      }
    }
  
  }
  