.item-question {
    border-radius: 4px;
    border: 1px solid grey;
  
    &:hover {
      border-color: $cl-primary;
    }
  }
  
  .box-upload-file {
    $sizeup: 280px;
    width: $sizeup;
    height: $sizeup;
    border-radius: 6px;
    background-color: #959595;
    position: relative;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    .box-upload-file__icon {
      $sizeInco: 100px;
      width: $sizeInco;
      height: $sizeInco;
      background-color: #eee;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 6px;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
  
      i {
        font-size: 30px;
        color: grey;
      }
  
      p {
        font-size: 12px;
      }
    }
  }
  