<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Plan de trabajo</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/map">Inicio</a></li>
            <li class="breadcrumb-item">
              <a routerLink="/monitoring">Detalle acuerdo</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Plan de trabajo
            </li>
          </ol>
        </nav>
        <!-- <button
          type="button"
          class="btn btn-danger ms-3"
          (click)="onDeleteModal(contentDelete)"
        >
          <i class="bi bi-x-circle me-2"></i>
          <span class="d-none d-sm-inline-block">Cerrar acuerdo</span>
        </button> -->
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs nav-tabs-flat" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="workPlan-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabAgreementDetail"
            type="button"
            role="tab"
          >
            Detalle acuerdo
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <!-- prettier-ignore -->
          <button
                class="nav-link"
                id="results-tab"
                data-bs-toggle="tab"
                data-bs-target="#tabWorkPlan"
                type="button"
                role="tab"
                
              >
              <!-- [ngClass]="{ 'disabled': !agreementExist }"
                [disabled]="!agreementExist" -->
                Plan de trabajo
              </button>
        </li>
        <li class="nav-item" role="presentation">
          <!-- prettier-ignore -->
          <button
                class="nav-link"
                id="results-tab"
                data-bs-toggle="tab"
                data-bs-target="#tabMonitoring"
                type="button"
                role="tab"
                
              >
              <!-- [ngClass]="{ 'disabled': !agreementExist }"
                [disabled]="!agreementExist" -->
                Monitoreo 
              </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane pt-2 fade show active"
          id="tabAgreementDetail"
          role="tabpanel"
          aria-labelledby="agreementDetail-tab"
        >
          <div class="card">
            <div class="card-header">
              <label class="mb-0 fw-bold">Detalle acuerdo</label>
              <!-- <div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary mx-2"
                  (click)="search(form.value)"
                >
                  <i class="bi bi-search"></i>
                  Buscar
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  <i class="bi bi-brush"></i>
                  Limpiar
                </button>
              </div> -->
            </div>
            <div class="card-body">
              <form novalidate [formGroup]="form">
                <div class="row g-3">
                  <div class="col-md-6">
                    <label for="txtCode" class="form-label">Código </label>
                    <input
                      id="txtCode"
                      type="text"
                      class="form-control"
                      placeholder="Código"
                      formControlName="code"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="txtName" class="form-label">Nombre </label>
                    <input
                      id="txtName"
                      type="text"
                      class="form-control"
                      placeholder="Nombre"
                      formControlName="name"
                    />
                  </div>
                  <div class="col-md-3" formGroupName="anp">
                    <label for="ddAnp" class="form-label">ANP</label>
                    <select id="ddAnp" class="form-select" formControlName="id">
                      <option value="0">SELECCIONE</option>
                      <option *ngFor="let item of anpList" [value]="item.id">
                        {{ item.fullName }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <div formGroupName="agreementState">
                      <label for="ddState" class="form-label">Estado</label>
                      <select
                        id="ddState"
                        class="form-select"
                        formControlName="id"
                      >
                        <option selected value="0">SELECCIONE</option>
                        <option
                          *ngFor="let item of agreementStateList"
                          [value]="item.id"
                        >
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="txtSuscriptionDate" class="form-label"
                      >Fecha de suscripción
                    </label>
                    <input
                      type="date"
                      class="form-control"
                      id="txtSuscriptionDate"
                      formControlName="firm"
                    />
                  </div>
                  <div class="col-md-3">
                    <label class="form-label" for="numbValidity"
                      >Vigencia en años
                    </label>
                    <input
                      type="number"
                      id="numbValidity"
                      class="form-control"
                      min="0"
                      formControlName="vigency"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="txtaGoal" class="form-label"
                      >Objetivo general</label
                    >
                    <textarea
                      id="txtaGoal"
                      class="form-control"
                      rows="2"
                      formControlName="objective"
                    ></textarea>
                  </div>
                  <div class="col-md-6">
                    <label for="txtaObs" class="form-label"
                      >Observaciones
                    </label>

                    <textarea
                      id="txtaObs"
                      class="form-control"
                      rows="2"
                      formControlName="description"
                    ></textarea>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <label for="ddlDepartment" class="form-label"
                        >Departamento (*)</label
                      >
                      <select
                        placeholder="SELECCIONE"
                        id="ddlDepartment"
                        class="form-select"
                        (change)="searchProvinces($event.target.value)"
                        formControlName="department"
                      >
                        <option selected value="0">SELECCIONE</option>
                        <option
                          *ngFor="let item of departments"
                          [value]="item.code"
                        >
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <label for="ddlProvince" class="form-label"
                        >Provincia (*)</label
                      >
                      <select
                        id="ddlProvince"
                        class="form-select"
                        (change)="searchDistricts($event.target.value)"
                        formControlName="province"
                      >
                        <option selected value="0">SELECCIONE</option>
                        <option
                          *ngFor="let item of provinces"
                          [value]="item.code"
                        >
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <label for="ddlProvince" class="form-label"
                        >Distrito (*)</label
                      >
                      <select
                        id="ddlProvince"
                        class="form-select"
                        formControlName="district"
                      >
                        <option selected value="0">SELECCIONE</option>
                        <option
                          *ngFor="let item of districts"
                          [value]="item.code"
                        >
                          {{ item.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="txtLocalization" class="form-label"
                      >Localización (*)</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="txtLocalization"
                      formControlName="localization"
                    />
                  </div>
                </div>

                <hr />
              </form>
            </div>
          </div>
        </div>
        <div
          class="tab-pane pt-2 fade"
          id="tabWorkPlan"
          role="tabpanel"
          aria-labelledby="workPlan-tab"
        >
          <div class="card">
            <div class="card-header">
              <label class="mb-0 fw-bold"
                >Compromisos del Plan de Trabajo</label
              >
              <div>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-primary mx-2"
                  (click)="saveWorkPlan()"
                  [disabled]="disabled || !fieldArrayTotalTemp.length"
                >
                  <i class="bi bi-save"></i>
                  Guardar plan de trabajo
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-info mx-2"
                  (click)="cleanTempField()"
                  [disabled]="!fieldArrayTotalTemp.length"
                >
                  <i class="bi bi-trash"></i>
                  Deshacer cambios
                </button>
              </div>
            </div>
            <div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Componente</th>
                        <th>Objetivo</th>
                        <th>Línea de Acción</th>
                        <th>Compromiso</th>
                        <th>Suscriptor</th>
                        <th>Actividades</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of commitmentsList; index as idx">
                        <td>
                          {{ item.actionLine.objetive.component.name }}
                        </td>
                        <td>
                          {{ item.actionLine.objetive.description }}
                        </td>
                        <td>
                          {{ item.actionLine.name }}
                        </td>
                        <td>
                          {{ item.description }}
                        </td>
                        <td>
                          {{ item.allied.name }}
                        </td>
                        <td>
                          <div class="text-nowrap">
                            <button
                              type="button"
                              class="btn btn-sm btn-outline-danger border-0"
                              (click)="
                                onCreateActivityModal(
                                  contentCreateActivity,
                                  item.id
                                )
                              "
                            >
                              <i class="bi bi-list-check fs-lg"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane pt-2 fade"
          id="tabMonitoring"
          role="tabpanel"
          aria-labelledby="monitoring-tab"
        >
          <!-- *ngFor="let e of [].constructor(vigency); let i = index" -->
          <ul class="nav nav-tabs nav-tabs-flat" id="myTab2" role="tablist">
            <li
              *ngFor="
                let e of [].constructor(monitoringHistoryCount);
                let i = index
              "
              class="nav-item"
              role="presentation"
            >
              <!-- [attr.data-bs-target]="'#tabMonitoringCurrent' + i" -->
              <button
                class="nav-link"
                id="monitoringHistory-tab"
                data-bs-toggle="tab"
                [attr.data-bs-target]="'#tabMonitoringHistory' + i"
                type="button"
                role="tab"
              >
                Nro. {{ i + 1 }}
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="monitoringCurrent-tab"
                data-bs-toggle="tab"
                data-bs-target="#tabMonitoringCurrent"
                type="button"
                role="tab"
              >
                Actual
              </button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              *ngFor="let item of monitoringListHistory; let i = index"
              class="tab-pane pt-2 fade"
              [id]="'tabMonitoringHistory' + i"
              role="tabpanel"
              aria-labelledby="monitoringHistory-tab"
            >
              <div class="card">
                <div class="card-header">
                  <label class="mb-0 fw-bold">Monitoreo</label>
                  <div></div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-hover table-bordered align-middle"
                    >
                      <thead style="font-weight: bold">
                        <tr>
                          <td>Objetivo P.M.</td>
                          <td>Línea de Acción</td>
                          <td>Compromisos</td>
                          <td>Actividades</td>
                          <td>Indicadores</td>

                          <td>Sem. 1</td>
                          <td>Sem. 2</td>

                          <td>Meta</td>
                          <td style="width: 85px">Valor actual</td>
                          <td>Progreso (Actividad)</td>
                          <td>Progreso (Compromiso)</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let activity of item.activities; index as idx"
                        >
                          <td>
                            {{
                              activity.commitment.actionLine.objetive.name ||
                                "sin datos"
                            }}
                          </td>
                          <td>
                            {{
                              activity.commitment.actionLine.name || "sin datos"
                            }}
                          </td>
                          <td>
                            {{ activity.commitment.name }}
                          </td>
                          <td>
                            {{ activity.name }}
                          </td>
                          <td>{{ activity.indicator }}</td>

                          <td>
                            <input
                              class="form-check-input"
                              type="checkbox"
                              [checked]="activity.trim1"
                              disabled
                            />
                          </td>
                          <td>
                            <input
                              class="form-check-input"
                              type="checkbox"
                              [checked]="activity.trim2"
                              disabled
                            />
                          </td>

                          <td>{{ activity.goal }}</td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              [value]="activity.value"
                              disabled
                            />
                          </td>
                          <td>
                            <div class="progress position-relative">
                              <div
                                class="progress-bar"
                                [ngClass]="{
                                  'bg-danger': activity.progress < 30,
                                  'bg-warning':
                                    activity.progress >= 30 &&
                                    activity.progress <= 70,
                                  'bg-success': activity.progress > 70
                                }"
                                role="progressbar"
                                [ngStyle]="{
                                  width: activity.progress + '%'
                                }"
                                [attr.aria-valuenow]="activity.progress"
                                aria-valuemin="0"
                                [attr.aria-valuemax]="activity.goal"
                              ></div>
                              <small
                                class="
                                  justify-content-center
                                  d-flex
                                  position-absolute
                                  w-100
                                "
                                [ngClass]="{
                                  'text-white': activity.progress > 60
                                }"
                                >{{ activity.progress.toFixed(1) + "%" }}</small
                              >
                            </div>
                          </td>
                          <td>
                            <div
                              class="circle"
                              [ngClass]="{
                                'round-danger':
                                  activity.commitment.progress < 30,
                                'round-warning':
                                  activity.commitment.progress >= 30 &&
                                  activity.commitment.progress <= 70,
                                'round-success':
                                  activity.commitment.progress > 70
                              }"
                            >
                              <span
                                class="align-middle"
                                [ngClass]="{
                                  'text-white':
                                    activity.commitment.progress < 30 ||
                                    activity.commitment.progress > 70
                                }"
                                >{{
                                  activity.commitment.progress.toFixed(1)
                                }}</span
                              >
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary">
                      <i class="bi bi-brush"></i>
                      Limpiar</button
                    >&nbsp;
                    <button
                      type="button"
                      class="btn btn-info"
                      (click)="onCreateEvaluationModal(contentCreateEvaluation)"
                    >
                      <i class="bi bi-check2-square"></i>
                      Generar evaluación
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-success" disabled>
                      <i class="bi bi-display"></i>
                      Guardar monitoreo
                    </button>
                  </div> -->
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <label class="mb-0 fw-bold">Evaluación</label>
                </div>
                <div class="card-body">
                  <div class="row g-3">
                    <div class="col-md-6">
                      <label for="txtCode" class="form-label">Logros </label>
                      <textarea
                        [id]="'txtGoals' + i"
                        class="form-control"
                        rows="3"
                        disabled
                        >{{ item.achievement }}</textarea
                      >
                    </div>
                    <div class="col-md-6">
                      <label for="txtName" class="form-label"
                        >Resultados
                      </label>
                      <textarea
                        [id]="'txtResults' + i"
                        class="form-control"
                        rows="3"
                        disabled
                        >{{ item.evaluation }}</textarea
                      >
                    </div>
                    <div class="col-md-6">
                      <label for="txtName" class="form-label"
                        >Inconvenientes
                      </label>
                      <textarea
                        [id]="'txtObstacle' + i"
                        class="form-control"
                        rows="3"
                        disabled
                        >{{ item.comment }}</textarea
                      >
                    </div>
                    <div class="col-md-6">
                      <label for="txtName" class="form-label"
                        >Recomendaciones</label
                      >
                      <textarea
                        [id]="'txtRecommendations' + i"
                        class="form-control"
                        rows="3"
                        disabled
                        >{{ item.recommendation }}</textarea
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane pt-2 fade show active"
              id="tabMonitoringCurrent"
              role="tabpanel"
              aria-labelledby="monitoringCurrent-tab"
            >
              <div class="card">
                <div class="card-header">
                  <label class="mb-0 fw-bold">Evaluación</label>
                  <div>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-success mx-2"
                      [disabled]="monitoringReady"
                      (click)="activateMonitoring()"
                    >
                      <i class="bi bi-play-circle"></i>
                      Iniciar Monitoreo
                    </button>
                    <button
                      type="button"
                      class="btn btn-sm btn-outline-danger mx-2"
                      [disabled]="!monitoringReady"
                      (click)="deActivateMonitoring()"
                    >
                      <i class="bi bi-stop-circle"></i>
                      Finalizar Monitoreo
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table
                      class="table table-hover table-bordered align-middle"
                    >
                      <thead style="font-weight: bold">
                        <tr>
                          <td>Objetivo P.M.</td>
                          <td>Línea de Acción</td>
                          <td>Compromisos</td>
                          <td>Actividades</td>
                          <td>Indicadores</td>

                          <!-- <td colspan="2">Año 1</td>
                  <td colspan="2">Año 2</td> -->
                          <td>Sem. 1</td>
                          <td>Sem. 2</td>
                          <!-- <td>Sem. 3</td>
                    <td>Sem. 4</td> -->
                          <td>Meta</td>
                          <td style="width: 85px">Valor actual</td>
                          <td>Progreso (Actividad)</td>
                          <td>Progreso (Compromiso)</td>
                          <!-- <td rowspan="2">Meta</td>
                  <td rowspan="2">Resultados</td> -->
                        </tr>
                        <!-- <tr>
                  <td>Semt. 1</td>
                  <td>Semt. 2</td>
                  <td>Semt. 3</td>
                  <td>Semt. 4</td>
                </tr> -->
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let item of monitoringList; let first = first"
                        >
                          <td
                            *ngIf="first"
                            [attr.rowspan]="monitoringList.length"
                          >
                            {{
                              item.commitment.actionLine.objetive.name ||
                                "sin datos"
                            }}
                          </td>
                          <td>
                            {{ item.commitment.actionLine.name || "sin datos" }}
                          </td>
                          <td>
                            {{ item.commitment.name }}
                          </td>
                          <td>
                            {{ item.name }}
                          </td>
                          <td>{{ item.indicator }}</td>

                          <td>
                            <input
                              class="form-check-input"
                              type="checkbox"
                              [checked]="item.trim1"
                              disabled
                            />
                          </td>
                          <td>
                            <input
                              class="form-check-input"
                              type="checkbox"
                              [checked]="item.trim2"
                              disabled
                            />
                          </td>
                          <!-- <td><input type="checkbox" /></td>
                    <td><input type="checkbox" /></td> -->
                          <td>{{ item.goal }}</td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              [disabled]="!monitoringReady"
                              [value]="item.value"
                              [(ngModel)]="item.value"
                            />
                          </td>
                          <td>
                            <div class="progress position-relative">
                              <div
                                class="progress-bar"
                                [ngClass]="{
                                  'bg-danger': item.value < item.goal / 3,
                                  'bg-warning':
                                    item.value >= item.goal / 3 &&
                                    item.value <= (item.goal / 3) * 2,
                                  'bg-success': item.value > (item.goal / 3) * 2
                                }"
                                [ngStyle]="{
                                  width: (item.value * 100) / item.goal + '%'
                                }"
                                [attr.aria-valuenow]="item.value"
                                role="progressbar"
                                aria-valuemin="0"
                                [attr.aria-valuemax]="item.goal"
                              ></div>
                              <small
                                class="
                                  justify-content-center
                                  d-flex
                                  position-absolute
                                  w-100
                                "
                                [ngClass]="{
                                  'text-white': item.value > (item.goal / 3) * 2
                                }"
                              >
                                {{
                                  ((item.value * 100) / item.goal).toFixed(1) +
                                    "%"
                                }}</small
                              >
                            </div>
                          </td>
                          <td>
                            <div
                              class="circle"
                              [ngClass]="{
                                'round-danger': item.commitment.progress < 30,
                                'round-warning':
                                  item.commitment.progress >= 30 / 3 &&
                                  item.commitment.progress <= 70 * 2,
                                'round-success': item.commitment.progress > 70
                              }"
                            >
                              <span
                                class="align-middle"
                                [ngClass]="{
                                  'text-white':
                                    item.commitment.progress < 30 ||
                                    item.commitment.progress > 70
                                }"
                                >{{ item.commitment.progress.toFixed(1) }}</span
                              >
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary">
                      <i class="bi bi-brush"></i>
                      Limpiar</button
                    >&nbsp;
                    <button
                      type="button"
                      class="btn btn-info"
                      (click)="onCreateEvaluationModal(contentCreateEvaluation)"
                      [disabled]="!monitoringReady"
                    >
                      <i class="bi bi-check2-square"></i>
                      Generar evaluación
                    </button>
                    <!-- &nbsp;
                    <button type="button" class="btn btn-success" disabled>
                      <i class="bi bi-display"></i>
                      Guardar monitoreo
                    </button> -->
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="col-md-12 row p-3">
                  <label
                    class="
                      mb-0
                      fw-bold
                      col-form-label col-sm-4 col-md-4 col-lg-4
                    "
                    >Cobertura de Vigilancia y Control del AC.</label
                  >
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <input
                      type="text"
                      class="form-control-plaintext"
                      value="1000 (ha)"
                    />
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <input
                      class="form-control col-sm-4 col-md-4 col-lg-4"
                      type="text"
                      value="500"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
  </div>
  <ng-template #contentCreateActivity let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="createActivityLabel">Crear actividades</h5>
      <button type="button" class="btn-close" (click)="modal.close()"></button>
    </div>
    <div class="modal-body">
      <div class="row g-3"></div>
      <ul class="nav nav-tabs nav-tabs-flat" id="myTab" role="tablist">
        <!-- *ngFor="let e of [].constructor(vigency); let i = index" -->
        <li class="nav-item" role="presentation">
          <!-- [attr.data-bs-target]="'#tabActivity' + i" -->
          <!-- [ngClass]="{ active: i == 0 }" -->
          <button
            class="nav-link active"
            id="workPlan-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabActivity"
            type="button"
            role="tab"
          >
            Plan de trabajo
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <!-- prettier-ignore -->
        <!-- [ngClass]="{ 'show active': i == 0 }" -->
        <!-- *ngFor="let e of [].constructor(vigency); let i = index" -->
        <div
          class="tab-pane pt-2 fade show active"
          id="tabActivity"
          role="tabpanel"
          aria-labelledby="agreement-tab"
        >
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <td>Nro.</td>
                  <td>Actividad</td>
                  <!-- <td>Tipo indicador</td> -->
                  <td>Indicador</td>
                  <td>Meta</td>
                  <td>Semestre</td>
                  <td></td>
                  <td>Opción</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let field of fieldArray; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td class="d-none">
                    <input
                      class="form-control"
                      type="text"
                      [value]="field.id"
                      [(ngModel)]="field.id"
                      [disabled]="!field.edit"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      type="text"
                      [value]="field.name"
                      [(ngModel)]="field.name"
                      [disabled]="!field.edit"
                    />
                  </td>
                  <!-- <td>
                <input
                  class="form-control"
                  type="text"
                  [value]="field.indicatorType"
                />
              </td> -->

                  <td>
                    <input
                      class="form-control"
                      type="text"
                      [value]="field.indicator"
                      [(ngModel)]="field.indicator"
                      [disabled]="!field.edit"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      type="text"
                      [value]="field.goal"
                      [(ngModel)]="field.goal"
                      [disabled]="!field.edit"
                    />
                  </td>
                  <td>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox1"
                        [checked]="field.trim1"
                        [(ngModel)]="field.trim1"
                        [disabled]="!field.edit"
                      />
                      <label class="form-check-label" for="inlineCheckbox1"
                        >1</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox2"
                        [checked]="field.trim2"
                        [(ngModel)]="field.trim2"
                        [disabled]="!field.edit"
                      />
                      <label class="form-check-label" for="inlineCheckbox2"
                        >2</label
                      >
                    </div>
                  </td>
                  <td>
                    {{ field.isNew ? "Nuevo" : "" }}
                  </td>
                  <td>
                    <button
                      *ngIf="!field.edit"
                      class="btn btn-sm btn-outline-info border-0"
                      type="button"
                      (click)="editFieldValue(field)"
                    >
                      <i class="bi bi-pencil fs-lg"></i>
                    </button>
                    <button
                      *ngIf="field.edit"
                      class="btn btn-sm btn-outline-success border-0"
                      type="button"
                      (click)="saveFieldValue(field, i)"
                    >
                      <i class="bi bi-check-lg"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-outline-danger border-0"
                      type="button"
                      (click)="deleteFieldValue(i)"
                    >
                      <i class="bi bi-dash-square fs-lg"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <input class="form-control" type="text" disabled />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      type="text"
                      id="newAttributeCode"
                      [(ngModel)]="newAttribute.name"
                      name="newAttributeActivity"
                    />
                  </td>
                  <td class="d-none">
                    <input
                      class="form-control"
                      type="text"
                      id="newAttributeId"
                      [(ngModel)]="newAttribute.id"
                      name="newAttributeId"
                    />
                  </td>
                  <!-- <td>
                <select
                  class="form-select"
                  [(ngModel)]="newAttribute.indicatorType"
                >
                  <option value="Acumulado">Acumulado</option>
                  <option value="Promedio">Promedio</option>
                </select>
              </td> -->
                  <td>
                    <input
                      class="form-control"
                      type="text"
                      id="newAttributeName"
                      [(ngModel)]="newAttribute.indicator"
                      name="newAttributeIndicator"
                    />
                  </td>
                  <td>
                    <input
                      class="form-control"
                      type="text"
                      id="newAttributePrice"
                      [(ngModel)]="newAttribute.goal"
                      name="newAttributeGoal"
                    />
                  </td>
                  <td>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox11"
                        [(ngModel)]="newAttribute.trim1"
                      />
                      <label class="form-check-label" for="inlineCheckbox11"
                        >1</label
                      >
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="inlineCheckbox12"
                        [(ngModel)]="newAttribute.trim2"
                      />
                      <label class="form-check-label" for="inlineCheckbox12"
                        >2</label
                      >
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="text-nowrap">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-success border-0"
                        (click)="addFieldValue()"
                      >
                        <i class="bi bi-plus-square fs-lg"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">
        Cancelar
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="saveActivityTemp()"
      >
        Guardar
      </button>
    </div>
  </ng-template>
  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Cerrar acuerdo</h4>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
        (click)="modal.close()"
      ></button>
    </div>
    <div class="modal-body">
      <p class="text-center">
        Esta acción no se puede deshacer.
        <br />
        ¿Estás seguro?
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">
        Cancelar
      </button>
      <button
        type="button"
        ngbAutofocus
        (click)="deleteMonitoring()"
        class="btn btn-primary"
      >
        Aceptar
      </button>
    </div>
  </ng-template>
  <ng-template #contentCreateEvaluation let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="createActivityLabel">
        Crear envaluación del monitoreo
      </h5>
      <button type="button" class="btn-close" (click)="modal.close()"></button>
    </div>
    <form [formGroup]="formMonitoring" (ngSubmit)="monitoringSave()" novalidate>
      <div class="modal-body">
        <div class="row g-3"></div>
        <div class="col-md-12">
          <label class="form-label">Logros</label>
          <textarea
            class="form-control"
            rows="2"
            formControlName="achievement"
            [ngClass]="{
              'input-invalid': submitted && f.achievement.errors?.required
            }"
          >
          </textarea>
        </div>
        <div class="col-md-12">
          <label class="form-label">Resultados</label>
          <textarea
            class="form-control"
            rows="2"
            formControlName="evaluation"
            [ngClass]="{
              'input-invalid': submitted && f.evaluation.errors?.required
            }"
          >
          </textarea>
        </div>
        <div class="col-md-12">
          <label class="form-label">Inconvenientes</label>
          <textarea
            class="form-control"
            rows="2"
            formControlName="comment"
            [ngClass]="{
              'input-invalid': submitted && f.comment.errors?.required
            }"
          >
          </textarea>
        </div>
        <div class="col-md-12">
          <label class="form-label">Recomendaciones</label>
          <textarea
            class="form-control"
            rows="2"
            formControlName="recommendation"
            [ngClass]="{
              'input-invalid': submitted && f.recommendation.errors?.required
            }"
          >
          </textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary" [disabled]="disabled">
          Guardar Monitoreo
        </button>
      </div>
    </form>
  </ng-template>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>
