<nav
  class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex justify-content-between align-items-center flex-row"
>
  <!-- icons -->

  <!-- NAVBAR  -->
  <div
    class="navbar-menu-wrapper d-flex justify-content-center align-items-center"
  ></div>
  <!-- NOTIFCACIONTS AND USER INFO -->
  <div class="d-flex align-items-center">
    <!-- NAVBAR NOT LOGIN -->
    <ul *ngIf="dataUser == null" class="navbar-nav navbar-nav-right">
      <li class="nav-item">
        <a routerLink="/authentication/login" class="text-white"
          >Iniciar Sesion</a
        >
      </li>
    </ul>
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      (click)="toggleOffcanvas()"
    >
      <span class="mdi mdi-menu text-light"></span>
    </button>
  </div>
</nav>
