<div class="container-scroller">
  <app-navbar></app-navbar>
  <div
    class="d-flex flex-column flex-shrink-0 bg-light custom-sidebar"
    style="width: 4.5rem"
  >
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a
          class="nav-link py-3 border-bottom"
          aria-current="page"
          title="Home"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          routerLink="/map/index"
          routerLinkActive="active"
        >
          <i class="bi bi-geo-alt-fill custom-icon"></i>
        </a>
      </li>
      <li>
        <a
          class="nav-link py-3 border-bottom"
          title="Dashboard"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          routerLink="/consultations"
          routerLinkActive="active"
        >
          <i class="bi bi-ui-checks-grid custom-icon"></i>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link py-3 border-bottom"
          title="Orders"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
        >
          <i class="bi bi-box custom-icon"></i>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link py-3 border-bottom"
          title="Products"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
        >
          <i class="bi bi-cart-dash-fill custom-icon"></i>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="nav-link py-3 border-bottom"
          title="Customers"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
        >
          <i class="bi bi-cloud-arrow-up custom-icon"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="container-fluid page-body-wrapper">
    <div class="wrap-main">
      <section>
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
  <button
    class="float"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight"
  >
    <i class="bi bi-stack my-float" style="font-size: 1.5rem"></i>
  </button>
  <div
    class="offcanvas offcanvas-end"
    tabindex="-1"
    id="offcanvasRight"
    aria-labelledby="offcanvasRightLabel"
    data-bs-backdrop="false"
  >
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Capas</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ngx-treeview
        [items]="items"
        (selectedChange)="onSelectedChange($event)"
      ></ngx-treeview>
    </div>
  </div>
</div>
