<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Administrador</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/map">Inicio</a></li>
            <li class="breadcrumb-item state" aria-current="page">
              Administrar
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <label class="mb-0 fw-bold">Tablas</label>
        </div>
        <div class="card-body bg-light">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-10">
                      <h5 class="card-title">Categoría de Aliados</h5>
                    </div>
                    <div class="col-md-2 float-end">
                      <button
                        class="btn btn-sm btn-primary"
                        (click)="
                          onRegisterModal(contentRegister, 'alliedcategory')
                        "
                      >
                        <i class="bi bi-plus-lg"></i>
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <td>ID</td>
                          <td>Nombre</td>
                          <td>Descripción</td>
                          <td>Fecha</td>
                          <td>Opciones</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let item of modules['alliedcategory'].items;
                            index as idx
                          "
                        >
                          <td>{{ idx + 1 }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.description }}</td>
                          <td>
                            {{ item.registrationDate | date: "dd/MM/yyyy" }}
                          </td>

                          <td>
                            <div class="text-nowrap">
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-success border-0"
                                (click)="
                                  onUpdateModal(
                                    contentUpdate,
                                    item.id,
                                    'alliedcategory'
                                  )
                                "
                              >
                                <i class="bi bi-pencil fs-lg"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-danger border-0"
                                (click)="
                                  onDeleteModal(
                                    contentDelete,
                                    item.id,
                                    'alliedcategory'
                                  )
                                "
                              >
                                <i class="bi bi-trash fs-lg"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>            
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-10">
                      <h5 class="card-title">Fuente de financiamiento</h5>
                    </div>
                    <div class="col-md-2 float-end">
                      <button
                        class="btn btn-sm btn-primary"
                        (click)="onRegisterModal(contentRegister, 'source')"
                      >
                        <i class="bi bi-plus-lg"></i>
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <td>ID</td>
                          <td>Nombre</td>
                          <td>Descripción</td>
                          <td>Fecha</td>
                          <td>Opciones</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let item of modules['source'].items;
                            index as idx
                          "
                        >
                          <td>{{ idx + 1 }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.description }}</td>
                          <td>
                            {{ item.registrationDate | date: "dd/MM/yyyy" }}
                          </td>

                          <td>
                            <div class="text-nowrap">
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-success border-0"
                                (click)="
                                  onUpdateModal(
                                    contentUpdate,
                                    item.id,
                                    'source'
                                  )
                                "
                              >
                                <i class="bi bi-pencil fs-lg"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-danger border-0"
                                (click)="
                                  onDeleteModal(
                                    contentDelete,
                                    item.id,
                                    'source'
                                  )
                                "
                              >
                                <i class="bi bi-trash fs-lg"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-10">
                      <h5 class="card-title">Estado de Acuerdo</h5>
                    </div>
                    <div class="col-md-2 float-end">
                      <button
                        class="btn btn-sm btn-primary"
                        (click)="
                          onRegisterModal(contentRegister, 'agreementstate')
                        "
                      >
                        <i class="bi bi-plus-lg"></i>
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <td>ID</td>
                          <td>Nombre</td>
                          <td>Descripción</td>
                          <td>Fecha</td>
                          <td>Opciones</td>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- prettier-ignore -->
                        <tr
                       
                          *ngFor="
                            let item of modules['agreementstate'].items
                              ;
                            index as idx
                          "
                        >
                          <td>{{ idx + 1 }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.description }}</td>
                          <td>
                            {{ item.registrationDate | date: "dd/MM/yyyy" }}
                          </td>

                          <td>
                            <div class="text-nowrap">
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-success border-0"
                                (click)="
                                  onUpdateModal(
                                    contentUpdate,
                                    item.id,
                                    'agreementstate'
                                  )
                                "
                              >
                                <i class="bi bi-pencil fs-lg"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-danger border-0"
                                (click)="
                                  onDeleteModal(
                                    contentDelete,
                                    item.id,
                                    'agreementstate'
                                  )
                                "
                              >
                                <i class="bi bi-trash fs-lg"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-10">
                      <h5 class="card-title">Tipo ecosistema</h5>
                    </div>

                    <div class="col-md-2 float-end">
                      <button
                        class="btn btn-sm btn-primary"
                        (click)="
                          onRegisterModal(contentRegister, 'ecosystemtype')
                        "
                      >
                        <i class="bi bi-plus-lg"></i>
                      </button>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                          <td>ID</td>
                          <td>Nombre</td>
                          <td>Descripción</td>
                          <td>Fecha</td>
                          <td>Opciones</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let item of modules['ecosystemtype'].items;
                            index as idx
                          "
                        >
                          <td>{{ idx + 1 }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.description }}</td>
                          <td>
                            {{ item.registrationDate | date: "dd/MM/yyyy" }}
                          </td>

                          <td>
                            <div class="text-nowrap">
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-success border-0"
                                (click)="
                                  onUpdateModal(
                                    contentUpdate,
                                    item.id,
                                    'ecosystemtype'
                                  )
                                "
                              >
                                <i class="bi bi-pencil fs-lg"></i>
                              </button>
                              <button
                                type="button"
                                class="btn btn-sm btn-outline-danger border-0"
                                (click)="
                                  onDeleteModal(
                                    contentDelete,
                                    item.id,
                                    'ecosystemtype'
                                  )
                                "
                              >
                                <i class="bi bi-trash fs-lg"></i>
                              </button>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<ng-template #contentRegister let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="createUserLabel">
      Crear {{ moduleContext.name }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit('register')" novalidate>
    <div class="modal-body">
      <div class="row g-3">
        <div class="col-12">
          <label class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'input-invalid': submitted && f.name.errors?.required
            }"
            formControlName="name"
          />
          <div
            *ngIf="submitted && f.name.errors?.required"
            class="label-invalid"
          >
            Nombre es requerido
          </div>
        </div>
        <div class="col-12">
          <label class="form-label">Descripción</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'input-invalid': submitted && f.description.errors?.required
            }"
            formControlName="description"
          />
          <div
            *ngIf="submitted && f.description.errors?.required"
            class="label-invalid"
          >
            Descripción es requerido
          </div>
        </div>
        <div class="col-12">
          <div class="form-check form-switch form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="chkstate"
              formControlName="state"
              checked
            />

            <label class="form-check-label" for="chkstate">Activo</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        (click)="modal.close()"
      >
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</ng-template>
<ng-template #contentUpdate let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="createUserLabel">
      Modificar {{ moduleContext.name }}
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit('update')" novalidate>
    <div class="modal-body">
      <div class="row g-3">
        <div class="col-12">
          <label class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'input-invalid': submitted && g.name.errors?.required
            }"
            formControlName="name"
          />
          <div
            *ngIf="submitted && g.name.errors?.required"
            class="label-invalid"
          >
            Nombre es requerido
          </div>
        </div>
        <div class="col-12">
          <label class="form-label">Descripción</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'input-invalid': submitted && g.description.errors?.required
            }"
            formControlName="description"
          />
          <div
            *ngIf="submitted && g.description.errors?.required"
            class="label-invalid"
          >
            Descripción es requerido
          </div>
        </div>
        <div class="col-12">
          <div class="form-check form-switch form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="chkstate"
              formControlName="state"
              checked
            />

            <label class="form-check-label" for="chkstate">Activo</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        (click)="modal.close()"
      >
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
  s
</ng-template>
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Eliminar {{ moduleContext.name }}</h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <p class="text-center">
      Esta acción no se puede deshacer.
      <br />
      ¿Estás seguro?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancelar
    </button>
    <button
      type="button"
      ngbAutofocus
      (click)="delete()"
      class="btn btn-primary"
    >
      Aceptar
    </button>
  </div>
</ng-template>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
