/* Navbar */
@import "../../../../assets/styles/_theme.css";
/* Navbar */
/* .navbar {
  background-color: #007885;
  height: 55px;
  border-top: 1px solid #007885;
  border-bottom: 1px solid #007885;
} */

.top-5 {
  top: 5px !important;
}
.color-white {
  color: #fff;
}
.alert-section {
  margin-bottom: 15px;
  margin-top: 15px;
  height: 70px;
}

.centered-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* nav import  */
.opt {
  image-rendering: crisp-edges;
}
.header-logo {
  margin-top: 2px;
  margin-left: 17px;
  min-width: 82px;
}
.dropdown {
  padding: 0 5px 0 5px;
}
