<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-dark">
    <div class="navbar-header">
      <span class="navbar-brand header-logo" href="#">
        <!-- Logo icon -->

        <img
          src="./assets/images/logo-sernanp.png"
          alt=""
          height="45"
          class="opt"
        />
      </span>
    </div>
    <!-- <span class="navbar-brand" >
      <b>
        <img src="../../../assets/images/LOGO-MINAGRI.png" alt="" height="40" />
      </b>
      
    </span> -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <ul class="navbar-nav me-auto">
        <!-- This is  -->
        <li class="nav-item">
          <a
            class="nav-link nav-toggler d-block d-md-none"
            href="javascript:void(0)"
            (click)="clickNav($event)"
          >
            <i class="bi bi-list"></i>
          </a>
        </li>
        <!-- <li class="nav-item">
          <img
            src="assets/img/logo-text.png"
            class="light-logo img-fluid d-none d-md-block"
            alt="homepage"
            style="max-width: 150px"
          />
        </li> -->
        <!-- <li class="nav-item">
              <a class="nav-link sidebartoggler d-none d-md-block"
                  href="javascript:void(0)">
                  <i class="fas fa-bars"></i>
              </a>
          </li> -->
      </ul>
      <ul class="navbar-nav my-lg-0 pe-2">
        <!-- ============================================================== -->
        <!-- User Profile -->
        <!-- ============================================================== -->

        <li class="nav-item u-pro">
          <a
            class="nav-link"
            id="notification"
            role="button"
            (click)="onViewNotifications(contentViewNotifications)"
            [ngClass]="{ disabled: !notificationsList.length }"
          >
            <i class="bi bi-bell" style="font-size: 1.5rem"></i>
            <span
              *ngIf="notificationsList.length"
              class="
                position-absolute
                top-17
                translate-middle
                p-1
                bg-danger
                border border-light
                rounded-circle
              "
            >
              <span class="visually-hidden">New alerts</span>
            </span>
          </a>
          <!-- <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="notification"
          >
            <li>qweeqw</li>
          </ul> -->
        </li>
        <li class="nav-item dropdown u-pro">
          <a
            class="nav-link dropdown-toggle profile-pic"
            href=""
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle"></i>&nbsp;
            <span class="hidden-md-down"
              >{{ user?.name || "user" }} &nbsp;</span
            >
          </a>
          <div class="dropdown-menu dropdown-menu-end animated flipInY">
            <!-- <a href="javascript:void(0)" class="dropdown-item"
              ><i class="bi bi-person-circle"></i> My Profile</a
            >
           
            <a href="javascript:void(0)" class="dropdown-item"
              ><i class="bi bi-wallet"></i> My Balance</a
            >
           
            <a href="javascript:void(0)" class="dropdown-item"
              ><i class="bi bi-envelope"></i> Inbox</a
            >
          
            <div class="dropdown-divider"></div>
           
            <a href="javascript:void(0)" class="dropdown-item"
              ><i class="bi bi-gear-fill"></i> Account Setting</a
            > -->

            <!-- <div class="dropdown-divider"></div> -->

            <a
              *ngIf="!isLogedIn"
              routerLink="/default/login"
              class="dropdown-item"
              ><i class="bi bi-power"></i> Iniciar Sesión</a
            >
            <a
              *ngIf="isLogedIn"
              (click)="logout()"
              class="dropdown-item pointer"
              ><i class="bi bi-power"></i> Cerrar Sesión</a
            >
            <!-- text-->
          </div>
        </li>
        <!-- ============================================================== -->
        <!-- End User Profile -->
        <!-- ============================================================== -->
      </ul>
    </div>
    <app-alert (hasAlerts)="hasAlertsForDisplay($event)"></app-alert>
  </nav>
</header>
<ng-template #contentViewNotifications let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="createNotificationLabel">Notificaciones</h5>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
  </div>

  <div class="modal-body">
    <div class="list-group">
      <a
        *ngFor="let notification of notificationsList; index as idx"
        class="list-group-item list-group-item-action"
        (click)="onViewNotification(notification.id)"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ notification.code }}</h5>
          <small>{{ notification.firm }} ({{ notification.vigency }}) </small>
        </div>
        <p class="mb-1">{{ notification.name }}</p>
        <p class="mb-1">El acuerdo esta a punto de vencer</p>
        <small>{{ notification.action }}</small>
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cerrar
    </button>
  </div>
</ng-template>
