<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Crear plan maestro</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-end">
            <li class="breadcrumb-item"><a routerLink="/map">Inicio</a></li>
            <li class="breadcrumb-item"><a routerLink="/anp">ANP</a></li>
            <li class="breadcrumb-item text-nowrap active">Plan maestro</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="insertMasterPlan()" novalidate>
        <div class="card">
          <div class="card-body" id="parent">
            <div class="row g-3">
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  [ngClass]="{
                    'input-invalid': submitted && f.name.errors?.required
                  }"
                />
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6">
                <label class="form-label">Periodo</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="description"
                  [ngClass]="{
                    'input-invalid': submitted && f.description.errors?.required
                  }"
                />
              </div>
              <br/>
            </div>
            <br/>
            <div class="d-flex justify-content-end">              
              <button
                type="submit"
                class="btn btn-success"
                [disabled]="submitted"
                *ngIf="!withMasterPlan"
              >
                <i class="fas fa-save"></i>
                Guardar
              </button>
            </div>
            <hr />
            <div class="col-md-12">
              <label class="form-label">Agregar objetivos </label>
              <button
                type="button"
                class="btn btn-sm btn-primary d-flex"
                (click)="onRegisterModal(contentRegister)"
              >
                <i class="bi bi-plus-lg"></i>
              </button>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="fw-bold">
                    <td>Nº</td>
                    <td>Componente</td>
                    <td>Código</td>
                    <td>Objetivos</td>
                    <td>Linea de acción</td>
                  </tr>
                </thead>
                <tbody>
                  <!-- <ngx-spinner
                    [fullScreen]="false"
                    type="ball-clip-rotate"
                    size="medium"
                  >
                  </ngx-spinner> -->

                  <ng-container *ngIf="!isLoading">
                    <tr *ngFor="let item of goalsList; index as idx">
                      <td>{{ idx + 1 }}</td>
                      <td>{{ item.component.name }}</td>
                      <td>{{ item.code }}</td>
                      <td>{{ item.description }}</td>
                      <td>
                        <div class="text-nowrap">
                          <button
                            type="button"
                            class="btn btn-sm btn-outline-success border-0"
                            placement="top"
                            ngbTooltip="Agregar Líneas de Acción"
                            (click)="
                              onRegisterLineActionModal(
                                contentRegisterActionLine,
                                item.id
                              )
                            "
                          >
                            <i class="bi bi-plus-square fs-lg"></i>
                          </button>
                          <button
                            type="button"
                            class="btn btn-sm btn-outline-danger border-0"
                            placement="top"
                            ngbTooltip="Eliminar"
                            (click)="deleteObjetive(item.id)">
                            <i class="bi bi-trash fs-lg"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-light">
                <i class="fas fa-brush"><a routerLink="/anp"></a></i>
                Limpiar</button>             
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<ng-template #contentRegister let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="createPerfilLabel">Crear objetivos</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <form [formGroup]="insertGoals" (ngSubmit)="saveGoals()" novalidate>
    <div class="modal-body">
      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Componente</label>
          <select
            class="form-select"
            formControlName="component"
            [ngClass]="{
              'input-invalid': submitted && g.component.errors?.required
            }"
          >
            <option value="">SELECCIONE</option>
            <option value="1">Ambiental</option>
            <option value="2">Económico</option>
            <option value="3">Social</option>
            <option value="4">SocioCultural</option>
          </select>
        </div>
        <div class="col-md-6">
          <label class="form-label">Codigo</label>
          <input
            type="text"
            class="form-control"
            formControlName="code"
            [ngClass]="{
              'input-invalid': submitted && g.code.errors?.required
            }"
          />
        </div>
        <div class="col-md-12">
          <label class="form-label">Objetivo</label>
          <textarea
            class="form-control"
            rows="2"
            formControlName="description"
            [ngClass]="{
              'input-invalid': submitted && g.description.errors?.required
            }"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        (click)="modal.close()"
      >
        Cancelar
      </button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</ng-template>
<ng-template #contentRegisterActionLine let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="createPerfilLabel">Crear linea de acción</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <form [formGroup]="insertLineAction" (ngSubmit)="saveLineAction()" novalidate>
    <div class="modal-body">
      <label class="form-label">Nombre</label>
      <div class="row g-3">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [ngClass]="{
              'input-invalid': submitted && h.name.errors?.required
            }"
          />
        </div>
        <div class="col-md-2">
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            placement="top"
            ngbTooltip="Agregar"
          >
            <i class="bi bi-plus-lg"></i>
          </button>
        </div>
      </div>
      <hr />
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <td>Nombre</td>
              <td>Acciones</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of actionLinesList; index as idx">
              <td>{{ item.name }}</td>
              <td>
                <div class="text-nowrap">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger border-0"
                    (click)="deleteActionLine(item.id)"
                  >
                    <i class="bi bi-trash fs-lg"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-dismiss="modal"
        (click)="modal.close()"
      >
        Cerrar
      </button>
    </div>
  </form>
</ng-template>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
