<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Crear Acuerdo</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-end">
            <li class="breadcrumb-item"><a routerLink="/map">Inicio</a></li>
            <li class="breadcrumb-item text-nowrap active">Nuevo acuerdo</li>
          </ol>
        </nav>

        <button type="button" class="btn btn-primary ms-3">
          <i class="bi bi-plus-circle fs-lg"></i>
          <span class="d-none d-sm-inline-block mx-1">Nuevo acuerdo</span>
        </button>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <form action="#" [formGroup]="form" novalidate>
        <div class="card">
          <div class="card-header">
            <label class="mb-0 fw-bold">General</label>
          </div>
          <div class="card-body" id="parent">
            <div class="row g-3">
              <div class="col-md-3">
                <label for="txtCode" class="form-label">Código (*)</label>
                <input
                  id="txtCode"
                  type="text"
                  class="form-control"
                  placeholder="Código"
                  formControlName="code"
                />
              </div>
              <div class="col-md-3">
                <label for="ddAnp" class="form-label">ANP (*)</label>
                <!-- <select id="ddAnp" class="form-select">
                  <option selected>SELECCIONE</option>
                  <option>ANP 1</option>
                  <option>ANP 2</option>
                  <option>ANP 3</option>
                </select> -->
                <ng-select
                  [items]="anp"
                  bindLabel="anpNomb"
                  bindValue="anpId"
                  [searchable]="true"
                  formControlName="anp"
                  placeholder="SELECCIONE"
                >
                </ng-select>
              </div>
              <div class="col-md-3">
                <label for="txtaGoal" class="form-label"
                  >Objetivo del ADC (*)</label
                >
                <textarea
                  id="txtaGoal"
                  class="form-control"
                  rows="1"
                  formControlName="goal"
                ></textarea>
              </div>
              <div class="col-md-3">
                <label for="ddState" class="form-label">Estado (*)</label>
                <select id="ddState" class="form-select">
                  <option selected>SELECCIONE</option>
                  <option>En envaluación</option>
                  <option>En diseño</option>
                  <option>Firmado</option>
                  <option>
                    En implementación: con plan de trabajo en implementación
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="txtSuscriptionDate" class="form-label"
                  >Fecha de suscripción (*)</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="txtSuscriptionDate"
                />
              </div>
              <div class="col-md-3">
                <label class="form-label" for="numbValidity"
                  >Vigencia en años (*)</label
                >
                <input
                  type="number"
                  id="numbValidity"
                  class="form-control"
                  min="0"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <label class="mb-0 fw-bold">Beneficiarios</label>
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-3">
                <label class="form-label">Número de participantes </label
                ><i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="Número de personas  participando del AdC"
                ></i>
                <div class="input-group">
                  <span class="input-group-text">H</span>
                  <input
                    type="number"
                    min="0"
                    id="numbMenQ"
                    class="form-control"
                  />
                  <span class="input-group-text">M</span>
                  <input
                    type="number"
                    min="0"
                    id="numbWomanQ"
                    class="form-control"
                  />
                  <span class="input-group-text">Total</span>
                  <input
                    type="number"
                    min="0"
                    id="numbTotal"
                    class="form-control"
                    disabled
                  />
                </div>
              </div>
              <div class="col-md-3">
                <label for="txtaDetailB" class="form-label"
                  >Detalle del beneficiario</label
                >
                <i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="Detalle del beneficiario (a nivel de personas)"
                ></i>
                <textarea
                  id="txtaDetailB"
                  class="form-control"
                  rows="1"
                ></textarea>
              </div>
              <div class="col-md-3">
                <label for="numbFamiliesBQ" class="form-label"
                  >Número de familias beneficiadas</label
                >
                <i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="Número de familias beneficiadas (según el AdC firmado)"
                ></i>
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="numbFamiliesBQ"
                />
              </div>
              <div class="col-md-3">
                <label for="txtaDetailBF" class="form-label"
                  >Detalle del beneficiario familia</label
                >
                <i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="Detalle del beneficiario (a nivel de familia)"
                ></i>
                <textarea
                  id="txtaDetailBF"
                  class="form-control"
                  rows="1"
                ></textarea>
              </div>
              <div class="col-md-3">
                <label for="txtaIndirectB" class="form-label"
                  >Beneficiarios indirectos</label
                >
                <textarea
                  id="txtaIndirectB"
                  class="form-control"
                  rows="1"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <label class="mb-0 fw-bold">Ámbito</label>
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-3">
                <label for="numbScope" class="form-label"
                  >Ámbito del ADC (Ha)</label
                >
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="numbScope"
                />
              </div>
              <div class="col-md-3">
                <label for="numbProductiveA" class="form-label"
                  >Superficie productiva (Ha)</label
                >
                <i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="Superficie bajo manejo productivo "
                ></i>
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="numbProductiveA"
                />
              </div>

              <div class="col-md-3">
                <label for="txtaProductiveAD" class="form-label"
                  >Detalle superficie productiva
                </label>
                <i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="Detalle del ámbito bajo manejo productivo, actividad económica sostenible asociada al AdC"
                ></i>
                <textarea
                  id="txtaProductiveAD"
                  class="form-control"
                  rows="1"
                ></textarea>
              </div>
              <div class="col-md-3">
                <label for="numbAreaR" class="form-label"
                  >Superficie bajo restauración (Ha)</label
                >
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="numbAreaR"
                />
              </div>
              <div class="col-md-3">
                <label for="txtaIndirectB" class="form-label"
                  >Detalle ámbito bajo restauración</label
                >
                <textarea
                  id="txtaDetailAR"
                  class="form-control"
                  rows="1"
                ></textarea>
              </div>
              <div class="col-md-3">
                <label for="txtaSectorVC" class="form-label"
                  >Nombre(s) del(os) sector(es) de V y C
                </label>
                <textarea
                  id="txtaSectorVC"
                  class="form-control"
                  rows="1"
                ></textarea>
              </div>
              <div class="col-md-3">
                <label for="numbAreaVC" class="form-label"
                  >Superficie del(os) sector(es) de V y C (Ha)</label
                >
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="numbAreaVC"
                />
              </div>
              <div class="col-md-3">
                <label for="txtaDetailSVC" class="form-label"
                  >Detalle del(os) sector(es) de V y C
                </label>
                <i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="Detalle del sector de VyC (tanto dentro como en el paisaje asociado del ANP)"
                ></i>
                <textarea
                  id="txtaDetailSVC"
                  class="form-control"
                  rows="1"
                ></textarea>
              </div>
              <div class="col-md-3">
                <label for="txtaModeAdc" class="form-label"
                  >Modalidad de gestión del territorio en el ADC
                </label>
                <i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="Señale algún otro tipo de modalidad de gestión del territorio comprometida en el AdC "
                ></i>
                <textarea
                  id="txtaModeAdc"
                  class="form-control"
                  rows="1"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <label class="mb-0 fw-bold">Articulaciones</label>
          </div>
          <div class="card-body">
            <label for="ddMasterP" class="form-label">Plan maestro (*)</label>
            <div class="row g-3">
              <div class="col-md-3">
                <select id="ddMasterP" class="form-select">
                  <option selected>SELECCIONE</option>
                  <option>Plan maestro 1</option>
                  <option>Plan maestro 2</option>
                  <option>Plan maestro 3</option>
                </select>
              </div>
              <div class="col-md-9">
                <div class="form-check form-switch form-check-inline mt-2">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="chkComunityL"
                    value="option1"
                  />
                  <label class="form-check-label" for="chkComunityL"
                    >Plan de vida de comunidades</label
                  >
                </div>
                <div class="form-check form-switch form-check-inline">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="chkInstitutionL"
                    value="option2"
                  />
                  <label class="form-check-label" for="chkInstitutionL"
                    >Plan de vida institucional (ECA)</label
                  >
                </div>
                <div class="form-check form-switch form-check-inline">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="chkLocalD"
                    value="option3"
                  />
                  <label class="form-check-label" for="chkLocalD"
                    >Plan de desarrollo local</label
                  >
                </div>
                <div class="form-check form-switch form-check-inline">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="chkDetailM"
                    value="option3"
                  />
                  <label class="form-check-label" for="chkDetailM"
                    >Detalle del/los municipios del ADC</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <label class="mb-0 fw-bold">Financiamiento</label>
          </div>
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-3">
                <div class="form-check form-switch form-check-inline mt-2">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="chkComunityL"
                    value="option1"
                  />
                  <label class="form-check-label" for="chkComunityL"
                    >Se ha apalancado financiamiento
                  </label>
                  <i
                    class="bi bi-info-circle mx-1"
                    placement="top"
                    ngbTooltip="¿Se ha apalancado financiamiento en el marco del AdC?"
                  ></i>
                </div>
              </div>
              <div class="col-md-3">
                <label for="numbFinanc" class="form-label"
                  >Financiamiento (Soles)</label
                >
                <i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="¿A cuánto asciende el financiamiento? "
                ></i>
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  id="numbFinanc"
                />
              </div>
              <div class="col-md-3">
                <label for="txtSourceF" class="form-label"
                  >Fuente de financiamiento</label
                >
                <input type="text" class="form-control" id="txtSourceF" />
              </div>
              <div class="col-md-3">
                <label for="txtModF" class="form-label"
                  >Modalidad de financiamiento</label
                >
                <input type="text" class="form-control" id="txtModF" />
              </div>
              <div class="col-md-3">
                <label for="txtNameF" class="form-label"
                  >Nombre del fondo</label
                >
                <i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="Si aplica "
                ></i>
                <input type="text" class="form-control" id="txtNameF" />
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <label class="mb-0 fw-bold"></label>
          </div>
          <div class="card-body">
            <div class="row g-3" action="#">
              <div class="col-md-3">
                <label for="txtaObs" class="form-label">Observaciones </label>
                <i
                  class="bi bi-info-circle mx-1"
                  placement="top"
                  ngbTooltip="Observaciones/comentarios adicionales a considerar en relación al AdC"
                ></i>
                <textarea id="txtaObs" class="form-control" rows="1"></textarea>
              </div>
              <div class="col-md-4">
                <div class="avatar-img float-right">
                  <input
                    type="file"
                    id="shpUpload"
                    #file
                    (change)="readURL($event)"
                  />
                </div>
                <!-- <div *ngIf="validateSize" class="invalid">
                  <div>Tamaño de archivo supera los 50KB</div>
                </div> -->
              </div>

              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-light">
                  <i class="fas fa-brush"></i>
                  Limpiar</button
                >&nbsp;
                <button type="button" class="btn btn-secondary">
                  <i class="fas fa-times-circle"></i>
                  Cancelar</button
                >&nbsp;
                <button type="button" class="btn btn-success">
                  <i class="fas fa-save"></i>
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
