.breadcrumb-item + .breadcrumb-item::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
}
.jc-center {
  justify-content: center !important;
}
.round {
  line-height: 48px;
  color: #fff;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border-radius: 100%;
  background: #01c0c8;
}
.m-l-10 {
  margin-left: 10px;
}
.round-black {
  background-color: rgb(79, 84, 103);
}
.round-yellow {
  background-color: #ffc107;
}
.round-danger {
  background-color: #ef4355;
}
.round-success {
  background-color: #00a772;
}
