<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Monitoreo</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/map">Home</a></li>
            <li class="breadcrumb-item">
              <a routerLink="/monitoring">Monitoreo</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Detalle</li>
          </ol>
        </nav>

        <button type="button" class="btn btn-info ms-3">
          <i class="fa fa-plus-circle"></i>
          <span class="d-none d-sm-inline-block">Nuevo acuerdo</span>
        </button>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs nav-tabs-flat" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="datos-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabDatos"
            type="button"
            role="tab"
          >
            Datos
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="mapa-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabMapa"
            type="button"
            role="tab"
          >
            Mapa
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="workPlan-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabWorkPlan"
            type="button"
            role="tab"
          >
            Plan de trabajo
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="results-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabResults"
            type="button"
            role="tab"
          >
            Resultados
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane pt-2 fade show active"
          id="tabDatos"
          role="tabpanel"
          aria-labelledby="datos-tab"
        >
          <form action="#">
            <div class="card">
              <div class="card-header">
                <label class="mb-0 fw-bold">General</label>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-md-3">
                    <label for="txtCode" class="form-label">Código (*)</label>
                    <input
                      id="txtCode"
                      type="text"
                      class="form-control"
                      placeholder="Código"
                      value="AC20180201"
                      disabled
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="ddAnp" class="form-label">ANP (*)</label>
                    <select id="ddAnp" class="form-select" disabled>
                      <option>SELECCIONE</option>
                      <option>ANP 1</option>
                      <option selected>ANP 2</option>
                      <option>ANP 3</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="txtaGoal" class="form-label"
                      >Objetivo del ADC (*)</label
                    >
                    <textarea
                      id="txtaGoal"
                      class="form-control"
                      rows="1"
                      disabled
                    >
Apoyo a las estrategias de Conservación de la Diversidad Biológica del Santuario Nacional Megantoni y de su zona de amortiguamiento, para el mantenimiento de los servicios ecosistémicos y el desarrollo sostenible de los integrantes del APA Madre Selva, APA saniriato, APA Pongo de Maenique (Chinguriato) de la Zona de Amortiguamiento del Santuario Nacional Megantoni.</textarea
                    >
                  </div>
                  <div class="col-md-3">
                    <label for="ddState" class="form-label">Estado (*)</label>
                    <select id="ddState" class="form-select" disabled>
                      <option>SELECCIONE</option>
                      <option>En envaluación</option>
                      <option>En diseño</option>
                      <option selected>Firmado</option>
                      <option>
                        En implementación: con plan de trabajo en implementación
                      </option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="txtSuscriptionDate" class="form-label"
                      >Fecha de suscripción (*)</label
                    >
                    <input
                      type="date"
                      class="form-control"
                      id="txtSuscriptionDate"
                      value="2020-07-22"
                      disabled
                    />
                  </div>
                  <div class="col-md-3">
                    <label class="form-label" for="numbValidity"
                      >Vigencia en años (*)</label
                    >
                    <input
                      type="number"
                      id="numbValidity"
                      class="form-control"
                      min="0"
                      value="5"
                      disabled
                    />
                  </div>
                  <div class="col-md-12">
                    <div class="form-check form-switch form-check-inline mt-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkComunityL"
                        value="option1"
                        checked
                        disabled
                      />
                      <label class="form-check-label" for="chkComunityL"
                        >Acuerdo firmado</label
                      >
                    </div>
                    <div class="form-check form-switch form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkInstitutionL"
                        value="option2"
                        checked
                        disabled
                      />
                      <label class="form-check-label" for="chkInstitutionL"
                        >Plan de trabajo</label
                      >
                    </div>
                    <div class="form-check form-switch form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkLocalD"
                        value="option3"
                        disabled
                      />
                      <label class="form-check-label" for="chkLocalD"
                        >Actas/memorias reuniones previas</label
                      >
                    </div>
                    <div class="form-check form-switch form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkDetailM"
                        value="option3"
                        checked
                        disabled
                      />
                      <label class="form-check-label" for="chkDetailM"
                        >Mapas</label
                      >
                    </div>
                    <div class="form-check form-switch form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkDetailM"
                        value="option3"
                        checked
                        disabled
                      />
                      <label class="form-check-label" for="chkDetailM"
                        >Shapes</label
                      >
                    </div>
                    <div class="form-check form-switch form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkDetailM"
                        checked
                        disabled
                      />
                      <label class="form-check-label" for="chkDetailM"
                        >Sistema de monitoreo</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <label class="mb-0 fw-bold">Beneficiarios</label>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-md-3">
                    <label class="form-label">Número de participantes </label
                    ><i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="Número de personas  participando del AdC"
                    ></i>
                    <div class="input-group">
                      <span class="input-group-text">H</span>
                      <input
                        type="number"
                        min="0"
                        id="numbMenQ"
                        class="form-control"
                        value="5"
                        disabled
                      />
                      <span class="input-group-text">M</span>
                      <input
                        type="number"
                        min="0"
                        id="numbWomanQ"
                        class="form-control"
                        value="4"
                        disabled
                      />
                      <span class="input-group-text">Total</span>
                      <input
                        type="number"
                        min="0"
                        id="numbTotal"
                        class="form-control"
                        value="9"
                        disabled
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="txtaDetailB" class="form-label"
                      >Detalle del beneficiario</label
                    >
                    <i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="Detalle del beneficiario (a nivel de personas)"
                    ></i>
                    <textarea
                      id="txtaDetailB"
                      class="form-control"
                      rows="1"
                      disabled
                    >
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea
                    >
                  </div>
                  <div class="col-md-3">
                    <label for="numbFamiliesBQ" class="form-label"
                      >Número de familias beneficiadas</label
                    >
                    <i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="Número de familias beneficiadas (según el AdC firmado)"
                    ></i>
                    <input
                      type="number"
                      min="0"
                      class="form-control"
                      id="numbFamiliesBQ"
                      value="20"
                      disabled
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="txtaDetailBF" class="form-label"
                      >Detalle del beneficiario familia</label
                    >
                    <i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="Detalle del beneficiario (a nivel de familia)"
                    ></i>
                    <textarea
                      id="txtaDetailBF"
                      class="form-control"
                      rows="1"
                      disabled
                    >
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea
                    >
                  </div>
                  <div class="col-md-3">
                    <label for="txtaIndirectB" class="form-label"
                      >Beneficiarios indirectos</label
                    >
                    <textarea
                      id="txtaIndirectB"
                      class="form-control"
                      rows="1"
                      disabled
                    >
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <label class="mb-0 fw-bold">Ámbito</label>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-md-3">
                    <label for="numbScope" class="form-label"
                      >Ámbito del ADC (Ha)</label
                    >
                    <input
                      type="number"
                      min="0"
                      class="form-control"
                      id="numbScope"
                      value="0.49935"
                      disabled
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="numbProductiveA" class="form-label"
                      >Superficie productiva (Ha)</label
                    >
                    <i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="Superficie bajo manejo productivo "
                    ></i>
                    <input
                      type="number"
                      min="0"
                      class="form-control"
                      id="numbProductiveA"
                      value="0.1176"
                      disabled
                    />
                  </div>

                  <div class="col-md-3">
                    <label for="txtaProductiveAD" class="form-label"
                      >Detalle superficie productiva
                    </label>
                    <i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="Detalle del ámbito bajo manejo productivo, actividad económica sostenible asociada al AdC"
                    ></i>
                    <textarea
                      id="txtaProductiveAD"
                      class="form-control"
                      rows="1"
                      disabled
                    >
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea
                    >
                  </div>
                  <div class="col-md-3">
                    <label for="numbAreaR" class="form-label"
                      >Superficie bajo restauración (Ha)</label
                    >
                    <input
                      type="number"
                      min="0"
                      class="form-control"
                      id="numbAreaR"
                      value="0.50475"
                      disabled
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="txtaIndirectB" class="form-label"
                      >Detalle ámbito bajo restauración</label
                    >
                    <textarea
                      id="txtaDetailAR"
                      class="form-control"
                      rows="1"
                      disabled
                    >
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</textarea
                    >
                  </div>
                  <div class="col-md-3">
                    <label for="txtaSectorVC" class="form-label"
                      >Nombre(s) del(os) sector(es) de V y C
                    </label>
                    <textarea
                      id="txtaSectorVC"
                      class="form-control"
                      rows="1"
                      disabled
                    >
                  Lorem ipsum dolor sit amet, consectetur adipiscing eli, Lorem ipsum dolor sit amet, consectetur adipiscing eli, Lorem ipsum dolor sit amet, consectetur adipiscing eli
              </textarea
                    >
                  </div>
                  <div class="col-md-3">
                    <label for="numbAreaVC" class="form-label"
                      >Superficie del(os) sector(es) de V y C (Ha)</label
                    >
                    <input
                      type="number"
                      min="0"
                      class="form-control"
                      id="numbAreaVC"
                      value="0.2997"
                      disabled
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="txtaDetailSVC" class="form-label"
                      >Detalle del(os) sector(es) de V y C
                    </label>
                    <i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="Detalle del sector de VyC (tanto dentro como en el paisaje asociado del ANP)"
                    ></i>
                    <textarea
                      id="txtaDetailSVC"
                      class="form-control"
                      rows="1"
                      disabled
                    >
Lorem ipsum dolor sit amet, consectetur adipiscing eli</textarea
                    >
                  </div>
                  <div class="col-md-3">
                    <label for="txtaModeAdc" class="form-label"
                      >Modalidad de gestión del territorio en el ADC
                    </label>
                    <i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="Señale algún otro tipo de modalidad de gestión del territorio comprometida en el AdC "
                    ></i>
                    <textarea
                      id="txtaModeAdc"
                      class="form-control"
                      rows="1"
                      disabled
                    >
Lorem ipsum dolor sit amet, consectetur adipiscing eli</textarea
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <label class="mb-0 fw-bold">Articulaciones</label>
              </div>
              <div class="card-body">
                <label for="ddMasterP" class="form-label"
                  >Plan maestro (*)</label
                >
                <div class="row g-3">
                  <div class="col-md-3">
                    <select id="ddMasterP" class="form-select" disabled>
                      <option>SELECCIONE</option>
                      <option>Plan maestro 1</option>
                      <option selected>Plan maestro 2</option>
                      <option>Plan maestro 3</option>
                    </select>
                  </div>
                  <div class="col-md-9">
                    <div class="form-check form-switch form-check-inline mt-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkComunityL"
                        value="option1"
                        checked
                        disabled
                      />
                      <label class="form-check-label" for="chkComunityL"
                        >Plan de vida de comunidades</label
                      >
                    </div>
                    <div class="form-check form-switch form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkInstitutionL"
                        value="option2"
                        checked
                        disabled
                      />
                      <label class="form-check-label" for="chkInstitutionL"
                        >Plan de vida institucional (ECA)</label
                      >
                    </div>
                    <div class="form-check form-switch form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkLocalD"
                        value="option3"
                        disabled
                      />
                      <label class="form-check-label" for="chkLocalD"
                        >Plan de desarrollo local</label
                      >
                    </div>
                    <div class="form-check form-switch form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkDetailM"
                        value="option3"
                        disabled
                      />
                      <label class="form-check-label" for="chkDetailM"
                        >Detalle del/los municipios del ADC</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <label class="mb-0 fw-bold">Financiamiento</label>
              </div>
              <div class="card-body">
                <div class="row g-3">
                  <div class="col-md-3">
                    <div class="form-check form-switch form-check-inline mt-2">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="chkComunityL"
                        value="option1"
                        disabled
                      />
                      <label class="form-check-label" for="chkComunityL"
                        >Se ha apalancado financiamiento
                      </label>
                      <i
                        class="bi bi-info-circle mx-1"
                        placement="top"
                        ngbTooltip="¿Se ha apalancado financiamiento en el marco del AdC?"
                      ></i>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <label for="numbFinanc" class="form-label"
                      >Financiamiento (Soles)</label
                    >
                    <i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="¿A cuánto asciende el financiamiento? "
                    ></i>
                    <input
                      type="number"
                      min="0"
                      class="form-control"
                      id="numbFinanc"
                      disabled
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="txtSourceF" class="form-label"
                      >Fuente de financiamiento</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="txtSourceF"
                      disabled
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="txtModF" class="form-label"
                      >Modalidad de financiamiento</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="txtModF"
                      disabled
                    />
                  </div>
                  <div class="col-md-3">
                    <label for="txtNameF" class="form-label"
                      >Nombre del fondo</label
                    >
                    <i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="Si aplica "
                    ></i>
                    <input
                      type="text"
                      class="form-control"
                      id="txtNameF"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <label class="mb-0 fw-bold"></label>
              </div>
              <div class="card-body">
                <div class="row g-3" action="#">
                  <div class="col-md-3">
                    <label for="txtaObs" class="form-label"
                      >Observaciones
                    </label>
                    <i
                      class="bi bi-info-circle mx-1"
                      placement="top"
                      ngbTooltip="Observaciones/comentarios adicionales a considerar en relación al AdC"
                    ></i>
                    <textarea
                      id="txtaObs"
                      class="form-control"
                      rows="2"
                      disabled
                    >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </textarea
                    >
                  </div>

                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-light">
                      <i class="fas fa-brush"></i>
                      Limpiar</button
                    >&nbsp;
                    <button type="button" class="btn btn-secondary">
                      <i class="fas fa-times-circle"></i>
                      Cancelar</button
                    >&nbsp;
                    <button type="button" class="btn btn-success">
                      <i class="fas fa-save"></i>
                      Guardar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div
          class="tab-pane pt-2 fade"
          id="tabMapa"
          role="tabpanel"
          aria-labelledby="mapa-tab"
        >
          <div class="card">
            <div class="card-body">
              <app-base-map
                [mapProperties]="mapProperties"
                [mapViewProperties]="mapViewProperties"
                [maxHeight]="500"
                (mapInit)="onMapInit($event)"
              >
              </app-base-map>
            </div>
          </div>
        </div>
        <div
          class="tab-pane pt-2 fade"
          id="tabWorkPlan"
          role="tabpanel"
          aria-labelledby="workPlan-tab"
        >
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered align-middle">
                  <thead style="font-weight: bold">
                    <tr>
                      <td rowspan="2">Compromisos</td>
                      <td rowspan="2">Actividades</td>
                      <td rowspan="2">Indicadores</td>
                      <td rowspan="2">Medios de verificación</td>
                      <td colspan="4">Año 1</td>
                      <td rowspan="2">Meta</td>
                      <td rowspan="2">Resultados</td>
                    </tr>
                    <tr>
                      <td>Trim 1</td>
                      <td>Trim 2</td>
                      <td>Trim 3</td>
                      <td>Trim 4</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2">
                        La IBERICA, proporcionará indumentarias y equipos para
                        vigilantes de las APA. Las APA identificarán vigilantes
                        comunales. JSNM facilitará las especificaciones técnicas
                        para adquisición de equipos e indumentaria.
                      </td>
                      <td>
                        Implementación con indumentaria para los Vigilantes
                        Comunales de las APA
                      </td>
                      <td>N° de Indumentaria</td>
                      <td>Actas de entrega</td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td rowspan="4">
                        Contribuir al mantenimiento de la Cobertura sin
                        afectación en las ecorregiones (% de selva baja y % de
                        yungas) presentes en los sectores de Chinguriato y
                        quebrada Kinkateni - Yoyato, Nueva Convención, La
                        Libertad, Kirajateni, al interior del SNM.
                      </td>
                      <td rowspan="4">
                        R1 Se mantiene la cobertura vegetal de las ecorregiones
                        presentes en el ANP que contribuirán a la conservación
                        de la diversidad biológica
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Implementación con equipos a los Vigilantes Comunales de
                        las APA
                      </td>
                      <td>N° de equipos</td>
                      <td>Actas de entrega</td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                      <td>
                        Fortalecimiento de capacidaes a Vigilantes Comunales
                        (Uso de equipos, Fichas de reportes, y estrategias de
                        Vigilancia )
                      </td>
                      <td>
                        Fortalecimiento de capacidaes a Vigilantes Comunales
                        (Uso de equipos, Fichas de reportes, y estrategias de
                        Vigilancia )
                      </td>
                      <td>N° de capacitaciones</td>
                      <td>Informes de capacitación</td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                    </tr>
                    <tr>
                      <td>IBERICA realizará el Plan</td>
                      <td>
                        Elaboración Plan de Manejo Integrado de plagas y
                        enfermedades de cacao.
                      </td>
                      <td>Plan</td>
                      <td>Plan</td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane pt-2 fade"
          id="tabResults"
          role="tabpanel"
          aria-labelledby="results-tab"
        >
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-row justify-content-center">
                <div class="card bg-light mx-2">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="round align-self-center round-success">
                        <i class="bi bi-card-checklist fs-lg"></i>
                      </div>
                      <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">7/10</h3>
                        <h5 class="text-muted m-b-0">
                          Actividades completadas
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card bg-light mx-2">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="round align-self-center round-yellow">
                        <i class="bi bi-hand-index-thumb fs-lg"></i>
                      </div>
                      <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">8/9</h3>
                        <h5 class="text-muted m-b-0">Compromisos cumplidos</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card bg-light mx-2">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="round align-self-center round-black">
                        <i class="bi bi-check-circle fs-lg"></i>
                      </div>
                      <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">90%</h3>
                        <h5 class="text-muted m-b-0">Objetivos alcanzados</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="row">
                  <!-- Column -->
                  <div class="col-lg-4 col-md-12">
                    <div class="card bg-light">
                      <div class="card-body text-center">
                        <h5 class="card-title">Acuerdo completado</h5>
                        <div
                          id="morris-donut-chart"
                          class="ecomm-donute"
                          style="height: 317px; text-align: center"
                        >
                          <svg
                            height="316.989"
                            version="1.1"
                            width="276.051"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            style="
                              overflow: hidden;
                              position: relative;
                              left: -0.999994px;
                              top: -0.937493px;
                            "
                          >
                            <desc
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              "
                            >
                              Created with Raphaël 2.2.0
                            </desc>
                            <defs
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              "
                            ></defs>
                            <path
                              fill="none"
                              stroke="#fb9d13"
                              d="M138.0255,243.84483333333333A85.35033333333332,85.35033333333332,0,0,0,140.53854354716117,73.18117154400092"
                              stroke-width="2"
                              opacity="1"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                opacity: 1;
                              "
                            ></path>
                            <path
                              fill="#fb9d13"
                              stroke="#ffffff"
                              d="M138.0255,246.84483333333333A88.35033333333332,88.35033333333332,0,0,0,140.6268751370571,70.18247223759715L141.79506532074174,30.524507316001376A128.0255,128.0255,0,0,1,138.0255,286.52Z"
                              stroke-width="3"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              "
                            ></path>
                            <path
                              fill="none"
                              stroke="#01c0c8"
                              d="M140.53854354716117,73.18117154400092A85.35033333333332,85.35033333333332,0,0,0,55.07326026020519,138.4045691324555"
                              stroke-width="2"
                              opacity="0"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                opacity: 0;
                              "
                            ></path>
                            <path
                              fill="#01c0c8"
                              stroke="#ffffff"
                              d="M140.6268751370571,70.18247223759715A88.35033333333332,88.35033333333332,0,0,0,52.15755144571841,137.69842317790778L18.456655081119067,129.53651362292948A123.0255,123.0255,0,0,1,141.64784600424846,35.52233949334099Z"
                              stroke-width="3"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              "
                            ></path>
                            <path
                              fill="none"
                              stroke="#4f5467"
                              d="M55.07326026020519,138.4045691324555A85.35033333333332,85.35033333333332,0,0,0,137.99868640242292,243.84482912146322"
                              stroke-width="2"
                              opacity="0"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                opacity: 0;
                              "
                            ></path>
                            <path
                              fill="#4f5467"
                              stroke="#ffffff"
                              d="M52.15755144571841,137.69842317790778A88.35033333333332,88.35033333333332,0,0,0,137.99774392464235,246.84482897341917L137.98685039993535,281.5199939289349A123.0255,123.0255,0,0,1,18.456655081119067,129.53651362292948Z"
                              stroke-width="3"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              "
                            ></path>
                            <text
                              x="138.0255"
                              y="160.4945"
                              text-anchor="middle"
                              font-family='"Arial"'
                              font-size="15px"
                              stroke="none"
                              fill="#000000"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                text-anchor: middle;
                                font-family: Arial;
                                font-size: 15px;
                                font-weight: 800;
                              "
                              font-weight="800"
                              transform="matrix(2.0397,0,0,2.0397,-143.4678,-165.2698)"
                              stroke-width="0.4902587765718549"
                            >
                              <tspan
                                dy="5.908562499999988"
                                style="
                                  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                "
                              >
                                90%
                              </tspan>
                            </text>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Column -->
                  <div class="col-lg-8 col-md-12">
                    <div class="card bg-light">
                      <div class="card-body">
                        <textarea class="form-control" rows="5">
                      R1 Se mantiene la cobertura vegetal de las ecorregiones presentes en el ANP que contribuirán a la conservación de la diversidad biológica
                  </textarea
                        >
                        &nbsp;
                        <textarea class="form-control" rows="5">
                      R2. Se promueve el incremento de beneficios a la población local mediante el aprovechamiento de las oportunidades que ofrece el SNM.
                  </textarea
                        >
                        &nbsp;
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckChecked"
                            checked
                          />
                          <label
                            class="form-check-label"
                            for="flexCheckChecked"
                          >
                            Acuerdo finalizado
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
