<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Monitoreo</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/map">Home</a></li>
            <li class="breadcrumb-item">
              <a routerLink="/monitoring">Monitoreo</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Detalle</li>
          </ol>
        </nav>

        <button type="button" class="btn btn-info ms-3">
          <i class="fa fa-plus-circle"></i>
          <span class="d-none d-sm-inline-block">Nuevo acuerdo</span>
        </button>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs nav-tabs-flat" id="myTab" role="tablist">
        <!-- <li class="nav-item" role="presentation">
          
          <button
            class="nav-link active"
            id="datos-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabDatos"
            type="button"
            role="tab"
          >
            Datos
          </button>
        </li> -->
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="workPlan-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabWorkPlan"
            type="button"
            role="tab"
          >
            Plan de trabajo
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="mapa-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabMapa"
            type="button"
            role="tab"
          >
            Mapa
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="results-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabResults"
            type="button"
            role="tab"
          >
            Resultados
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane pt-2 fade show active"
          id="tabWorkPlan"
          role="tabpanel"
          aria-labelledby="workPlan-tab"
        >
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered align-middle">
                  <thead style="font-weight: bold">
                    <tr>
                      <td rowspan="2">Compromisos</td>
                      <td rowspan="2">Actividades</td>
                      <td rowspan="2">Indicadores</td>
                      <td rowspan="2">Medios de verificación</td>
                      <td rowspan="2">Meta</td>
                      <td colspan="4">Año 1</td>
                      <td rowspan="2">Avanzado</td>
                      <!-- <td rowspan="2">Meta</td>
                      <td rowspan="2">Resultados</td> -->
                    </tr>
                    <tr>
                      <td>Trim 1</td>
                      <td>Trim 2</td>
                      <td>Trim 3</td>
                      <td>Trim 4</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2">
                        La IBERICA, proporcionará indumentarias y equipos para
                        vigilantes de las APA. Las APA identificarán vigilantes
                        comunales. JSNM facilitará las especificaciones técnicas
                        para adquisición de equipos e indumentaria.
                      </td>
                      <td>
                        Implementación con indumentaria para los Vigilantes
                        Comunales de las APA
                      </td>
                      <td>N° de Indumentaria</td>
                      <td>Actas de entrega</td>
                      <td>Meta 1</td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <!-- <td rowspan="4">
                        Contribuir al mantenimiento de la Cobertura sin
                        afectación en las ecorregiones (% de selva baja y % de
                        yungas) presentes en los sectores de Chinguriato y
                        quebrada Kinkateni - Yoyato, Nueva Convención, La
                        Libertad, Kirajateni, al interior del SNM.
                      </td>
                      <td rowspan="4">
                        R1 Se mantiene la cobertura vegetal de las ecorregiones
                        presentes en el ANP que contribuirán a la conservación
                        de la diversidad biológica
                      </td> -->
                    </tr>
                    <tr>
                      <td>
                        Implementación con equipos a los Vigilantes Comunales de
                        las APA
                      </td>
                      <td>N° de equipos</td>
                      <td>Actas de entrega</td>
                      <td>Meta 2</td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                    </tr>
                    <tr>
                      <td>
                        Fortalecimiento de capacidaes a Vigilantes Comunales
                        (Uso de equipos, Fichas de reportes, y estrategias de
                        Vigilancia )
                      </td>
                      <td>
                        Fortalecimiento de capacidaes a Vigilantes Comunales
                        (Uso de equipos, Fichas de reportes, y estrategias de
                        Vigilancia )
                      </td>
                      <td>N° de capacitaciones</td>
                      <td>Informes de capacitación</td>
                      <td>Meta 3</td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                    </tr>
                    <tr>
                      <td>IBERICA realizará el Plan</td>
                      <td>
                        Elaboración Plan de Manejo Integrado de plagas y
                        enfermedades de cacao.
                      </td>
                      <td>Plan</td>
                      <td>Plan</td>
                      <td>Meta 4</td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane pt-2 fade"
          id="tabMapa"
          role="tabpanel"
          aria-labelledby="mapa-tab"
        >
          <div class="card">
            <div class="card-body">
              <app-base-map
                [mapProperties]="mapProperties"
                [mapViewProperties]="mapViewProperties"
                [maxHeight]="500"
                (mapInit)="onMapInit($event)"
              >
              </app-base-map>
            </div>
          </div>
        </div>

        <div
          class="tab-pane pt-2 fade"
          id="tabResults"
          role="tabpanel"
          aria-labelledby="results-tab"
        >
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-row justify-content-center">
                <div class="card bg-light mx-2">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="round align-self-center round-success">
                        <i class="bi bi-card-checklist fs-lg"></i>
                      </div>
                      <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">7/10</h3>
                        <h5 class="text-muted m-b-0">
                          Actividades completadas
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card bg-light mx-2">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="round align-self-center round-yellow">
                        <i class="bi bi-hand-index-thumb fs-lg"></i>
                      </div>
                      <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">8/9</h3>
                        <h5 class="text-muted m-b-0">Compromisos cumplidos</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card bg-light mx-2">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="round align-self-center round-black">
                        <i class="bi bi-check-circle fs-lg"></i>
                      </div>
                      <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">90%</h3>
                        <h5 class="text-muted m-b-0">Objetivos alcanzados</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="row">
                  <!-- Column -->
                  <div class="col-lg-4 col-md-12">
                    <div class="card bg-light">
                      <div class="card-body text-center">
                        <h5 class="card-title">Acuerdo completado</h5>
                        <div
                          id="morris-donut-chart"
                          class="ecomm-donute"
                          style="height: 317px; text-align: center"
                        >
                          <svg
                            height="316.989"
                            version="1.1"
                            width="276.051"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            style="
                              overflow: hidden;
                              position: relative;
                              left: -0.999994px;
                              top: -0.937493px;
                            "
                          >
                            <desc
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              "
                            >
                              Created with Raphaël 2.2.0
                            </desc>
                            <defs
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              "
                            ></defs>
                            <path
                              fill="none"
                              stroke="#fb9d13"
                              d="M138.0255,243.84483333333333A85.35033333333332,85.35033333333332,0,0,0,140.53854354716117,73.18117154400092"
                              stroke-width="2"
                              opacity="1"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                opacity: 1;
                              "
                            ></path>
                            <path
                              fill="#fb9d13"
                              stroke="#ffffff"
                              d="M138.0255,246.84483333333333A88.35033333333332,88.35033333333332,0,0,0,140.6268751370571,70.18247223759715L141.79506532074174,30.524507316001376A128.0255,128.0255,0,0,1,138.0255,286.52Z"
                              stroke-width="3"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              "
                            ></path>
                            <path
                              fill="none"
                              stroke="#01c0c8"
                              d="M140.53854354716117,73.18117154400092A85.35033333333332,85.35033333333332,0,0,0,55.07326026020519,138.4045691324555"
                              stroke-width="2"
                              opacity="0"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                opacity: 0;
                              "
                            ></path>
                            <path
                              fill="#01c0c8"
                              stroke="#ffffff"
                              d="M140.6268751370571,70.18247223759715A88.35033333333332,88.35033333333332,0,0,0,52.15755144571841,137.69842317790778L18.456655081119067,129.53651362292948A123.0255,123.0255,0,0,1,141.64784600424846,35.52233949334099Z"
                              stroke-width="3"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              "
                            ></path>
                            <path
                              fill="none"
                              stroke="#4f5467"
                              d="M55.07326026020519,138.4045691324555A85.35033333333332,85.35033333333332,0,0,0,137.99868640242292,243.84482912146322"
                              stroke-width="2"
                              opacity="0"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                opacity: 0;
                              "
                            ></path>
                            <path
                              fill="#4f5467"
                              stroke="#ffffff"
                              d="M52.15755144571841,137.69842317790778A88.35033333333332,88.35033333333332,0,0,0,137.99774392464235,246.84482897341917L137.98685039993535,281.5199939289349A123.0255,123.0255,0,0,1,18.456655081119067,129.53651362292948Z"
                              stroke-width="3"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                              "
                            ></path>
                            <text
                              x="138.0255"
                              y="160.4945"
                              text-anchor="middle"
                              font-family='"Arial"'
                              font-size="15px"
                              stroke="none"
                              fill="#000000"
                              style="
                                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                text-anchor: middle;
                                font-family: Arial;
                                font-size: 15px;
                                font-weight: 800;
                              "
                              font-weight="800"
                              transform="matrix(2.0397,0,0,2.0397,-143.4678,-165.2698)"
                              stroke-width="0.4902587765718549"
                            >
                              <tspan
                                dy="5.908562499999988"
                                style="
                                  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                                "
                              >
                                90%
                              </tspan>
                            </text>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Column -->
                  <div class="col-lg-8 col-md-12">
                    <div class="card bg-light">
                      <div class="card-body">
                        <textarea class="form-control" rows="5">
                      R1 Se mantiene la cobertura vegetal de las ecorregiones presentes en el ANP que contribuirán a la conservación de la diversidad biológica
                  </textarea
                        >
                        &nbsp;
                        <textarea class="form-control" rows="5">
                      R2. Se promueve el incremento de beneficios a la población local mediante el aprovechamiento de las oportunidades que ofrece el SNM.
                  </textarea
                        >
                        &nbsp;
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="flexCheckChecked"
                            checked
                          />
                          <label
                            class="form-check-label"
                            for="flexCheckChecked"
                          >
                            Acuerdo finalizado
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
