<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Monitoreo</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/map">Home</a></li>
            <li class="breadcrumb-item">
              <a routerLink="/monitoring">Monitoreo</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Detalle</li>
          </ol>
        </nav>
        <button
          type="button"
          class="btn btn-success ms-3"
          (click)="onInitModal(contentInit)"
        >
          <i class="bi bi-x-circle me-2"></i>
          <span class="d-none d-sm-inline-block">Iniciar monitoreo</span>
        </button>

        <button
          type="button"
          class="btn btn-danger ms-3"
          (click)="onDeleteModal(contentDelete)"
        >
          <i class="bi bi-x-circle me-2"></i>
          <span class="d-none d-sm-inline-block">Cerrar Monitoreo</span>
        </button>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-tabs nav-tabs-flat" id="myTab" role="tablist">
        <!-- <li class="nav-item" role="presentation">
          
          <button
            class="nav-link active"
            id="datos-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabDatos"
            type="button"
            role="tab"
          >
            Datos
          </button>
        </li> -->
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="workPlan-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabWorkPlan"
            type="button"
            role="tab"
          >
            Plan de trabajo
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="mapa-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabMapa"
            type="button"
            role="tab"
          >
            Mapa
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="results-tab"
            data-bs-toggle="tab"
            data-bs-target="#tabResults"
            type="button"
            role="tab"
          >
            Resultados
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane pt-2 fade show active"
          id="tabWorkPlan"
          role="tabpanel"
          aria-labelledby="workPlan-tab"
        >
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover table-bordered align-middle">
                  <thead style="font-weight: bold">
                    <tr>
                      <td rowspan="2">Objetivo P.M.</td>
                      <td rowspan="2">Compromisos</td>
                      <td rowspan="2">Actividades</td>
                      <td rowspan="2">Indicadores</td>
                      <td rowspan="2">Medios de verificación</td>
                      <td rowspan="2">Meta</td>
                      <td rowspan="2" style="width: 85px">Valor actual</td>
                      <td colspan="4">Año 1</td>
                      <td rowspan="2">Progreso</td>
                      <!-- <td rowspan="2">Meta</td>
                      <td rowspan="2">Resultados</td> -->
                    </tr>
                    <tr>
                      <td>Trim 1</td>
                      <td>Trim 2</td>
                      <td>Trim 3</td>
                      <td>Trim 4</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td rowspan="2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.
                      </td>
                      <td rowspan="2">
                        La IBERICA, proporcionará indumentarias y equipos para
                        vigilantes de las APA. Las APA identificarán vigilantes
                        comunales. JSNM facilitará las especificaciones técnicas
                        para adquisición de equipos e indumentaria.
                      </td>
                      <td>
                        Implementación con indumentaria para los Vigilantes
                        Comunales de las APA
                      </td>
                      <td>N° de Indumentaria</td>
                      <td>Actas de entrega</td>
                      <td>200</td>
                      <td>
                        <input type="number" class="form-control" value="50" />
                      </td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td>
                        <div class="progress">
                          <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: 25%"
                            aria-valuenow="25"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            25%
                          </div>
                        </div>
                      </td>
                      <!-- <td rowspan="4">
                        Contribuir al mantenimiento de la Cobertura sin
                        afectación en las ecorregiones (% de selva baja y % de
                        yungas) presentes en los sectores de Chinguriato y
                        quebrada Kinkateni - Yoyato, Nueva Convención, La
                        Libertad, Kirajateni, al interior del SNM.
                      </td>
                      <td rowspan="4">
                        R1 Se mantiene la cobertura vegetal de las ecorregiones
                        presentes en el ANP que contribuirán a la conservación
                        de la diversidad biológica
                      </td> -->
                    </tr>
                    <tr>
                      <td>
                        Implementación con equipos a los Vigilantes Comunales de
                        las APA
                      </td>
                      <td>N° de equipos</td>
                      <td>Actas de entrega</td>
                      <td>200</td>
                      <td>
                        <input type="number" class="form-control" value="100" />
                      </td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td>
                        <div class="progress">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 50%"
                            aria-valuenow="50"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            50%
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.
                      </td>
                      <td>
                        Fortalecimiento de capacidaes a Vigilantes Comunales
                        (Uso de equipos, Fichas de reportes, y estrategias de
                        Vigilancia )
                      </td>
                      <td>
                        Fortalecimiento de capacidaes a Vigilantes Comunales
                        (Uso de equipos, Fichas de reportes, y estrategias de
                        Vigilancia )
                      </td>
                      <td>N° de capacitaciones</td>
                      <td>Informes de capacitación</td>
                      <td>200</td>
                      <td>
                        <input type="number" class="form-control" value="200" />
                      </td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                      <td><input type="checkbox" checked /></td>
                      <td>
                        <div class="progress">
                          <div
                            class="progress-bar bg-success"
                            role="progressbar"
                            style="width: 100%"
                            aria-valuenow="100"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            100%
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.
                      </td>
                      <td>IBERICA realizará el Plan</td>
                      <td>
                        Elaboración Plan de Manejo Integrado de plagas y
                        enfermedades de cacao.
                      </td>
                      <td>Plan</td>
                      <td>Plan</td>
                      <td>500</td>
                      <td>
                        <input type="number" class="form-control" value="0" />
                      </td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td><input type="checkbox" /></td>
                      <td>
                        <div class="progress">
                          <div
                            class="progress-bar bg-danger"
                            role="progressbar"
                            style="width: 0%"
                            aria-valuenow="0"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          >
                            0%
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane pt-2 fade"
          id="tabMapa"
          role="tabpanel"
          aria-labelledby="mapa-tab"
        >
          <div class="card">
            <div class="card-body">
              <app-base-map
                [mapProperties]="mapProperties"
                [mapViewProperties]="mapViewProperties"
                [maxHeight]="500"
                (mapInit)="onMapInit($event)"
              >
              </app-base-map>
            </div>
          </div>
        </div>

        <div
          class="tab-pane pt-2 fade"
          id="tabResults"
          role="tabpanel"
          aria-labelledby="results-tab"
        >
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-row justify-content-center">
                <div class="card bg-light mx-2">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="round align-self-center round-danger">
                        <i class="bi bi-card-checklist fs-lg"></i>
                      </div>
                      <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">2/4</h3>
                        <h5 class="text-muted m-b-0">
                          Actividades < 50% avance
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card bg-light mx-2">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="round align-self-center round-yellow">
                        <i class="bi bi-hand-index-thumb fs-lg"></i>
                      </div>
                      <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">1/4</h3>
                        <h5 class="text-muted m-b-0">
                          Actividades = 50% avance
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card bg-light mx-2">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="round align-self-center round-success">
                        <i class="bi bi-check-circle fs-lg"></i>
                      </div>
                      <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">1/4</h3>
                        <h5 class="text-muted m-b-0">
                          Actividades > 60% avance
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-center">
                <div class="card bg-light mx-2">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="round align-self-center round-danger">
                        <i class="bi bi-hand-index-thumb fs-lg"></i>
                      </div>
                      <div class="m-l-10 align-self-center">
                        <h3 class="m-b-0">No</h3>
                        <h5 class="text-muted m-b-0">
                          Suceptible a renovación
                        </h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row justify-content-center">
                <!-- Column -->

                <!-- Column -->

                <div class="card bg-light">
                  <div class="card-body">
                    <textarea class="form-control" rows="5" cols="50">
R1 Se mantiene la cobertura vegetal de las ecorregiones presentes en el ANP que contribuirán a la conservación de la diversidad biológica
                  </textarea
                    >

                    &nbsp;
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-success">
                  <i class="fas fa-save"></i>
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<ng-template #contentInit let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Iniciar Monitoreo</h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <p class="text-center">
      Esta acción no se puede deshacer.
      <br />
      ¿Estás seguro?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancelar
    </button>
    <button
      type="button"
      ngbAutofocus
      (click)="initMonitoring()"
      class="btn btn-primary"
    >
      Aceptar
    </button>
  </div>
</ng-template>
<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Cerrar Monitoreo</h4>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <p class="text-center">
      Esta acción no se puede deshacer.
      <br />
      ¿Estás seguro?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">
      Cancelar
    </button>
    <button
      type="button"
      ngbAutofocus
      (click)="deleteMonitoring()"
      class="btn btn-primary"
    >
      Aceptar
    </button>
  </div>
</ng-template>
