<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Acuerdos</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/map">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Acuerdos</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <label class="mb-0 fw-bold">Búsqueda</label>
          <div>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary mx-2"
              (click)="search(form.value)"
            >
              <i class="bi bi-search"></i>
              Buscar
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary"
              (click)="clearForm()"
            >
              <i class="bi bi-brush"></i>
              Limpiar
            </button>
          </div>
        </div>
        <div class="card-body">
          <form novalidate [formGroup]="form">
            <div class="row g-3">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <label class="form-label">Código</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="code"
                />
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <label class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                />
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div formGroupName="anp">
                  <label for="inputState" class="form-label">ANP</label>
                  <select class="form-select" formControlName="id">
                    <option selected value="0">SELECCIONE</option>
                    <option *ngFor="let item of anps" [value]="item.id">
                      {{ item.fullName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div formGroupName="agreementState">
                  <label for="inputState" class="form-label"
                    >Estado del acuerdo</label
                  >
                  <select class="form-select" formControlName="id">
                    <option selected value="0">SELECCIONE</option>
                    <option
                      *ngFor="let item of agreementStateList"
                      [value]="item.id"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  <label for="ddlDepartment" class="form-label"
                    >Departamento</label
                  >
                  <select
                    placeholder="SELECCIONE"
                    class="form-select"
                    formControlName="departmentId"
                    (change)="searchProvinces($event.target.value)"
                  >
                    <option selected value="">SELECCIONE</option>
                    <option
                      *ngFor="let item of departments"
                      [value]="item.code"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  <label for="inputState" class="form-label">Provincia</label>
                  <select
                    placeholder="SELECCIONE"
                    class="form-select"
                    formControlName="provinceId"
                    (change)="searchDistricts($event.target.value)"
                  >
                    <option selected value="">SELECCIONE</option>
                    <option *ngFor="let item of provinces" [value]="item.code">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div>
                  <label for="inputState" class="form-label">Distrito</label>
                  <select
                    placeholder="SELECCIONE"
                    class="form-select"
                    formControlName="districtId"
                  >
                    <option selected value="">SELECCIONE</option>
                    <option *ngFor="let item of districts" [value]="item.code">
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-6 col-sm-12 col-md-6 col-lg-6">
                <label for="txtSuscriptionDateStart" class="form-label"
                  >Fecha de suscripción</label
                >
                <div class="input-group mb-3">
                  <input
                    type="date"
                    class="form-control"
                    formControlName="firm"
                  />
                  <span class="input-group-text">-</span>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="firmEnd"
                  />
                </div>
              </div>
            </div>

            <hr />

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>ANP</th>
                    <th>Estado</th>
                    <th>Vigencia (Años)</th>
                    <th>Fecha Suscr.</th>
                    <th>Ver monitoreo</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                  <ngx-spinner
                    [fullScreen]="false"
                    type="ball-clip-rotate"
                    size="medium"
                  >
                  </ngx-spinner>
                  <!-- <tr *ngIf="isLoading">
                    <td colspan="7">
                      <div class="card" style="min-height: 400px">
                        <ngx-spinner
                          [fullScreen]="false"
                          type="ball-clip-rotate"
                          size="medium"
                        >
                        </ngx-spinner>
                      </div>
                    </td>
                  </tr> -->
                  <ng-container *ngIf="!isLoading">
                    <tr
                      *ngFor="
                        let item of agreementList
                          | paginate
                            : {
                                id: 'agreementMonitoring',
                                itemsPerPage: pageSize,
                                currentPage: page,
                                totalItems: total
                              };
                        index as idx
                      "
                    >
                      <td>{{ item.code }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.anp.name }}</td>
                      <td>{{ item.agreementState.name }}</td>
                      <td>{{ item.vigency }}</td>
                      <td>{{ item.firm | date: "dd/MM/yyyy" }}</td>
                      <td>
                        <div class="text-nowrap">
                          <!-- <button
                            type="button"
                            class="btn btn-sm btn-outline-info border-0"
                            [routerLink]="['/monitoring/detail', item.id]"
                          >
                            <i class="bi bi-eye fs-lg"></i>
                          </button> -->
                          <button
                            type="button"
                            class="btn btn-sm btn-outline-success border-0"
                            [routerLink]="['/monitoring/work-plan', item.id]"
                          >
                            <i class="bi bi-hammer fs-lg"></i>
                          </button>
                          <!-- <progress id="file" max="100" value="70">
                            70%
                          </progress> -->
                          <!-- <button
                            type="button"
                            class="btn btn-sm btn-outline-danger border-0"
                          >
                            <i class="bi bi-trash fs-lg"></i>
                          </button> -->
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

            <div class="d-flex justify-content-end">
              <select
                class="form-select custom-select"
                formControlName="pageSize"
                (change)="onChangePageSize($event)"
              >
                <option [value]="5">5/PÁGINA</option>
                <option [value]="10">10/PÁGINA</option>
                <option [value]="20">20/PÁGINA</option>
                <option [value]="30">30/PÁGINA</option>
              </select>
              <pagination-controls
                (pageChange)="getPage($event)"
                id="agreementMonitoring"
                class="pagination justify-content-end"
              ></pagination-controls>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
