<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-auto align-self-center">
      <h4 class="text-nowrap">Acuerdos</h4>
    </div>
    <div class="col">
      <div class="d-flex justify-content-end align-items-center text-end">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/map">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Acuerdos</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Start Page Content -->
  <!-- ============================================================== -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <label class="mb-0 fw-bold">Búsqueda</label>
          <div>
            <button
              type="button"
              class="btn btn-sm btn-outline-primary mx-2"
              (click)="search(form.value)"
            >
              <i class="bi bi-search"></i>
              Buscar
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <i class="bi bi-brush"></i>
              Limpiar
            </button>
          </div>
        </div>
        <div class="card-body">
          <form novalidate [formGroup]="form">
            <div class="row g-3">
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <label class="form-label">Código</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="code"
                />
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <label class="form-label">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="code"
                />
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <label for="inputState" class="form-label"
                  >Estado del acuerdo
                </label>
                <select class="form-select" formControlName="state">
                  <option value="">SELECCIONE</option>
                  <option value="1">En envaluación</option>
                  <option value="2">En diseño</option>
                  <option value="3">Firmado</option>
                  <option value="4">En implementación</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <label for="inputState" class="form-label"
                  >Fuente de financiamiento
                </label>
                <select class="form-select" formControlName="category">
                  <option value="">SELECCIONE</option>
                  <option value="1">Público</option>
                  <option value="2">Privado</option>
                  <option value="3">Cooperación</option>
                  <option value="4">Otro</option>
                </select>
              </div>
            </div>

            <hr />

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Años de Vigencia</th>
                    <th>Fecha Suscr.</th>
                    <th>Ver monitoreo</th>
                  </tr>
                </thead>
                <tbody id="tableBody">
                  <ngx-spinner
                    [fullScreen]="false"
                    type="ball-clip-rotate"
                    size="medium"
                  >
                  </ngx-spinner>
                  <!-- <tr *ngIf="isLoading">
                    <td colspan="7">
                      <div class="card" style="min-height: 400px">
                        <ngx-spinner
                          [fullScreen]="false"
                          type="ball-clip-rotate"
                          size="medium"
                        >
                        </ngx-spinner>
                      </div>
                    </td>
                  </tr> -->
                  <ng-container *ngIf="!isLoading">
                    <tr
                      *ngFor="
                        let item of agreementList
                          | paginate
                            : {
                                id: 'agreementMonitoring',
                                itemsPerPage: pageSize,
                                currentPage: page,
                                totalItems: total
                              };
                        index as idx
                      "
                    >
                      <td>{{ item.code }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.agreementState.name }}</td>
                      <td>{{ item.vigency }}</td>
                      <td>{{ item.firm | date: "dd/MM/yyyy" }}</td>
                      <td>
                        <div class="text-nowrap">
                          <!-- <button
                            type="button"
                            class="btn btn-sm btn-outline-info border-0"
                            [routerLink]="['/monitoring/detail', item.id]"
                          >
                            <i class="bi bi-eye fs-lg"></i>
                          </button> -->
                          <button
                            type="button"
                            class="btn btn-sm btn-outline-success border-0"
                            [routerLink]="['/monitoring/work-plan', item.id]"
                          >
                            <i class="bi bi-hammer fs-lg"></i>
                          </button>
                          <!-- <progress id="file" max="100" value="70">
                            70%
                          </progress> -->
                          <!-- <button
                            type="button"
                            class="btn btn-sm btn-outline-danger border-0"
                          >
                            <i class="bi bi-trash fs-lg"></i>
                          </button> -->
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

            <div class="d-flex justify-content-end">
              <select
                class="form-select custom-select"
                formControlName="pageSize"
                (change)="onChangePageSize($event)"
              >
                <option [value]="5">5/PÁGINA</option>
                <option [value]="10">10/PÁGINA</option>
                <option [value]="20">20/PÁGINA</option>
                <option [value]="30">30/PÁGINA</option>
              </select>
              <pagination-controls
                (pageChange)="getPage($event)"
                id="agreementMonitoring"
                class="pagination justify-content-end"
              ></pagination-controls>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
