.breadcrumb-item + .breadcrumb-item::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
}

.custom-select {
  display: inline-block;
  width: auto;
  height: calc(1.5em + 0.59rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  /* background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center/8px 10px; */
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* .pagination /deep/ .ngx-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.pagination /deep/ .ngx-pagination li span {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
} */

.pagination /deep/ .ngx-pagination .current {
  z-index: 3;
  color: #fff;
  background-color: #fb9d13;
  border-color: #fb9d13;
  padding: 0.3754rem 0;
  border: 1px solid #cccc;
}

.pagination /deep/ .ngx-pagination li {
  border: 1px solid #cccc;
  margin-right: -1px;
}

.pagination /deep/ .ngx-pagination li:not(:first-child) a {
  margin-left: -1px;
}
.pagination /deep/ .ngx-pagination li a,
.current span:not(:first-child) {
  padding: 0.375rem 0.75rem;
  text-decoration: none;
}
.pagination /deep/ .ngx-pagination .disabled {
  padding: 0.375rem 0.75rem;
  text-decoration: none;
}
.pagination /deep/ .ngx-pagination .pagination-previous {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.pagination /deep/ .ngx-pagination .pagination-next {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.pagination /deep/ .ngx-pagination .current span:not(:first-child) {
  padding: 0.375rem 0.75rem;
  text-decoration: none;
}
.pagination /deep/ .ngx-pagination a::after {
  display: none;
}

.pagination /deep/ .ngx-pagination li::before {
  display: none;
}

.pagination /deep/ .ngx-pagination li::after {
  display: none;
}

.pagination /deep/ .ngx-pagination a::before {
  display: none;
}
body {
  margin-top: 0px;
  margin-left: 0px;
}

#page_1 {
  position: relative;
  overflow: hidden;
  margin: 27px 0px 147px 48px;
  padding: 0px;
  border: none;
  width: 707px;
}

#page_1 #p1dimg1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 204px;
  height: 55px;
}
#page_1 #p1dimg1 #p1img1 {
  width: 204px;
  height: 55px;
}

#page_2 {
  position: relative;
  overflow: hidden;
  margin: 27px 0px 513px 48px;
  padding: 0px;
  border: none;
  width: 746px;
}

#page_2 #p2dimg1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 707px;
  height: 93px;
}
#page_2 #p2dimg1 #p2img1 {
  width: 707px;
  height: 93px;
}

.dclr {
  clear: both;
  float: none;
  height: 1px;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.ft0 {
  font: 1px "Arial";
  line-height: 1px;
}
.ft1 {
  font: bold 15px "Calibri";
  line-height: 18px;
}
.ft2 {
  font: 15px "Calibri";
  line-height: 18px;
}
.ft3 {
  font: bold 21px "Arial";
  text-decoration: underline;
  line-height: 24px;
}
.ft4 {
  font: 1px "Arial";
  line-height: 13px;
}
.ft5 {
  font: 1px "Arial";
  line-height: 14px;
}
.ft6 {
  font: bold 16px "Arial";
  line-height: 18px;
}
.ft7 {
  font: 13px "Arial";
  line-height: 16px;
}
.ft8 {
  font: bold 13px "Arial";
  line-height: 16px;
}
.ft9 {
  font: 1px "Arial";
  line-height: 8px;
}
.ft10 {
  font: 1px "Arial";
  line-height: 9px;
}
.ft11 {
  font: 13px "Arial";
  text-decoration: underline;
  line-height: 16px;
}
.ft12 {
  font: bold 13px "Arial";
  line-height: 14px;
}
.ft13 {
  font: 1px "Arial";
  line-height: 10px;
}
.ft14 {
  font: bold 12px "Arial";
  line-height: 14px;
}
.ft15 {
  font: 13px "Arial";
  line-height: 14px;
}
.ft16 {
  font: 1px "Arial";
  line-height: 15px;
}
.ft17 {
  font: 13px "Arial";
  line-height: 15px;
}
.ft18 {
  font: bold 13px "Arial";
  text-decoration: underline;
  line-height: 16px;
}

.p0 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p1 {
  text-align: left;
  padding-left: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p2 {
  text-align: center;
  padding-right: 47px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p3 {
  text-align: left;
  padding-left: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p4 {
  text-align: left;
  padding-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p5 {
  text-align: left;
  padding-left: 51px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p6 {
  text-align: left;
  padding-left: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p7 {
  text-align: right;
  padding-right: 29px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p8 {
  text-align: center;
  padding-right: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p9 {
  text-align: right;
  padding-right: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p10 {
  text-align: right;
  padding-right: 9px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p11 {
  text-align: left;
  padding-left: 74px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p12 {
  text-align: center;
  padding-right: 52px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p13 {
  text-align: center;
  padding-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p14 {
  text-align: left;
  padding-left: 94px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p15 {
  text-align: center;
  padding-right: 56px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p16 {
  text-align: center;
  padding-left: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p17 {
  text-align: left;
  padding-left: 6px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p18 {
  text-align: left;
  padding-left: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p19 {
  text-align: center;
  padding-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p20 {
  text-align: center;
  padding-right: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p21 {
  text-align: right;
  padding-right: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p22 {
  text-align: right;
  padding-right: 31px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p23 {
  text-align: right;
  padding-right: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p24 {
  text-align: center;
  padding-left: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p25 {
  text-align: left;
  padding-left: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p26 {
  text-align: left;
  padding-left: 619px;
  margin-top: 23px;
  margin-bottom: 0px;
}
.p27 {
  text-align: left;
  padding-left: 48px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p28 {
  text-align: center;
  padding-right: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p29 {
  text-align: right;
  padding-right: 149px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p30 {
  text-align: left;
  padding-left: 69px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p31 {
  text-align: right;
  padding-right: 113px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}
.p32 {
  text-align: left;
  padding-left: 7px;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: nowrap;
}

.td0 {
  padding: 0px;
  margin: 0px;
  width: 182px;
  vertical-align: bottom;
}
.td1 {
  padding: 0px;
  margin: 0px;
  width: 17px;
  vertical-align: bottom;
}
.td2 {
  padding: 0px;
  margin: 0px;
  width: 122px;
  vertical-align: bottom;
}
.td3 {
  padding: 0px;
  margin: 0px;
  width: 4px;
  vertical-align: bottom;
}
.td4 {
  padding: 0px;
  margin: 0px;
  width: 103px;
  vertical-align: bottom;
}
.td5 {
  padding: 0px;
  margin: 0px;
  width: 89px;
  vertical-align: bottom;
}
.td6 {
  padding: 0px;
  margin: 0px;
  width: 28px;
  vertical-align: bottom;
}
.td7 {
  padding: 0px;
  margin: 0px;
  width: 15px;
  vertical-align: bottom;
}
.td8 {
  padding: 0px;
  margin: 0px;
  width: 46px;
  vertical-align: bottom;
}
.td9 {
  padding: 0px;
  margin: 0px;
  width: 94px;
  vertical-align: bottom;
}
.td10 {
  padding: 0px;
  margin: 0px;
  width: 7px;
  vertical-align: bottom;
}
.td11 {
  padding: 0px;
  margin: 0px;
  width: 346px;
  vertical-align: bottom;
}
.td12 {
  padding: 0px;
  margin: 0px;
  width: 48px;
  vertical-align: bottom;
}
.td13 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 182px;
  vertical-align: bottom;
}
.td14 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 17px;
  vertical-align: bottom;
}
.td15 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 122px;
  vertical-align: bottom;
}
.td16 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 4px;
  vertical-align: bottom;
}
.td17 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 103px;
  vertical-align: bottom;
}
.td18 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 89px;
  vertical-align: bottom;
}
.td19 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 28px;
  vertical-align: bottom;
}
.td20 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 15px;
  vertical-align: bottom;
}
.td21 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 46px;
  vertical-align: bottom;
}
.td22 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 48px;
  vertical-align: bottom;
}
.td23 {
  border-left: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 181px;
  vertical-align: bottom;
}
.td24 {
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 45px;
  vertical-align: bottom;
}
.td25 {
  padding: 0px;
  margin: 0px;
  width: 139px;
  vertical-align: bottom;
}
.td26 {
  padding: 0px;
  margin: 0px;
  width: 109px;
  vertical-align: bottom;
}
.td27 {
  padding: 0px;
  margin: 0px;
  width: 220px;
  vertical-align: bottom;
}
.td28 {
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 93px;
  vertical-align: bottom;
}
.td29 {
  padding: 0px;
  margin: 0px;
  width: 61px;
  vertical-align: bottom;
}
.td30 {
  border-left: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 181px;
  vertical-align: bottom;
}
.td31 {
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 45px;
  vertical-align: bottom;
}
.td32 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 7px;
  vertical-align: bottom;
}
.td33 {
  padding: 0px;
  margin: 0px;
  width: 107px;
  vertical-align: bottom;
}
.td34 {
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 16px;
  vertical-align: bottom;
}
.td35 {
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 3px;
  vertical-align: bottom;
}
.td36 {
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 102px;
  vertical-align: bottom;
}
.td37 {
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 88px;
  vertical-align: bottom;
}
.td38 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 43px;
  vertical-align: bottom;
}
.td39 {
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 42px;
  vertical-align: bottom;
}
.td40 {
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 47px;
  vertical-align: bottom;
}
.td41 {
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 14px;
  vertical-align: bottom;
}
.td42 {
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 16px;
  vertical-align: bottom;
}
.td43 {
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 3px;
  vertical-align: bottom;
}
.td44 {
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 102px;
  vertical-align: bottom;
}
.td45 {
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 88px;
  vertical-align: bottom;
}
.td46 {
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 14px;
  vertical-align: bottom;
}
.td47 {
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 47px;
  vertical-align: bottom;
}
.td48 {
  padding: 0px;
  margin: 0px;
  width: 272px;
  vertical-align: bottom;
}
.td49 {
  padding: 0px;
  margin: 0px;
  width: 50px;
  vertical-align: bottom;
}
.td50 {
  padding: 0px;
  margin: 0px;
  width: 155px;
  vertical-align: bottom;
}
.td51 {
  padding: 0px;
  margin: 0px;
  width: 221px;
  vertical-align: bottom;
}
.td52 {
  padding: 0px;
  margin: 0px;
  width: 9px;
  vertical-align: bottom;
}
.td53 {
  padding: 0px;
  margin: 0px;
  width: 205px;
  vertical-align: bottom;
}
.td54 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 322px;
  vertical-align: bottom;
}
.td55 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 155px;
  vertical-align: bottom;
}
.td56 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 221px;
  vertical-align: bottom;
}
.td57 {
  border-left: #000000 1px solid;
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 320px;
  vertical-align: bottom;
}
.td58 {
  border-right: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 220px;
  vertical-align: bottom;
}
.td59 {
  border-left: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 271px;
  vertical-align: bottom;
}
.td60 {
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 49px;
  vertical-align: bottom;
}
.td61 {
  border-right: #000000 1px solid;
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 220px;
  vertical-align: bottom;
}
.td62 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 272px;
  vertical-align: bottom;
}
.td63 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 50px;
  vertical-align: bottom;
}
.td64 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 9px;
  vertical-align: bottom;
}
.td65 {
  border-bottom: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 205px;
  vertical-align: bottom;
}
.td66 {
  border-left: #000000 1px solid;
  padding: 0px;
  margin: 0px;
  width: 271px;
  vertical-align: bottom;
}

.tr0 {
  height: 19px;
}
.tr1 {
  height: 54px;
}
.tr2 {
  height: 13px;
}
.tr3 {
  height: 14px;
}
.tr4 {
  height: 18px;
}
.tr5 {
  height: 34px;
}
.tr6 {
  height: 23px;
}
.tr7 {
  height: 8px;
}
.tr8 {
  height: 9px;
}
.tr9 {
  height: 25px;
}
.tr10 {
  height: 22px;
}
.tr11 {
  height: 31px;
}
.tr12 {
  height: 24px;
}
.tr13 {
  height: 20px;
}
.tr14 {
  height: 10px;
}
.tr15 {
  height: 15px;
}
.tr16 {
  height: 33px;
}
.tr17 {
  height: 27px;
}
.tr18 {
  height: 21px;
}
.tr19 {
  height: 26px;
}

.t0 {
  width: 707px;
  margin-top: 19px;
  font: 13px "Arial";
}
.t1 {
  width: 707px;
  margin-top: 58px;
  font: 13px "Arial";
}
