/* You can add global styles to this file, and also import other style files */
/* @import "assets/styles/style.scss";
@import "assets/styles/_misc.scss";

@import "assets/styles/_variables.scss"; */
body {
  height: 100%;
}
.center-div {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.mat-form-field-flex {
  background-color: #ffffff !important;
}

.mat-card-header-text {
  margin: 0 0px !important;
}

.mat-card-header {
  font-size: 16pt;
  margin-bottom: 30px;
}

.card-content {
  font-size: 12pt;
}
/* @import "assets/styles/_fonts.scss";
@import "assets/styles/_functions.scss";
@import "assets/styles/mixins/_background.scss";
@import "assets/styles/mixins/_animation.scss";
@import "assets/styles/mixins/_badges.scss";
@import "assets/styles/mixins/_breadcrumbs.scss";
@import "assets/styles/mixins/_pagination.scss";
@import "assets/styles/mixins/_buttons.scss";
@import "assets/styles/mixins/_misc.scss";
@import "assets/styles/mixins/_color-functions.scss";
@import "assets/styles/mixins/_cards.scss";
@import "assets/styles/mixins/_tooltips.scss";
@import "assets/styles/mixins/_popovers.scss";
@import "assets/styles/mixins/_blockqoute.scss"; */
/* @import "assets/styles/_accordions.scss";n */
/* @import "assets/styles/_breadcrumbs.scss";n */
/* @import "assets/styles/_forms.scss";
@import "assets/styles/_icons.scss";
@import "assets/styles/_tables.scss"; */
/* @import "assets/styles/_buttons.scss";n */
/* @import "assets/styles/_badges.scss";n */
/* @import "assets/styles/_cards.scss";n */
/* @import "assets/styles/_typography.scss";n */
/* @import "assets/styles/_preview.scss";
@import "assets/styles/_lists.scss";
@import "assets/styles/_bootstrap-progress.scss"; */
/* @import "assets/styles/_bootstrap-alerts.scss";n */
/* @import "assets/styles/_tabs.scss";n */
/* @import "assets/styles/_dropdowns.scss"; */
/* @import "assets/styles/_pagination.scss";n */
/* @import "assets/styles/_popovers.scss";n */
/* @import "assets/styles/_modals.scss";
@import "assets/styles/_nav.scss";
@import "assets/styles/_reset.scss";
@import "assets/styles/_rating.scss";
@import "assets/styles/_layouts.scss"; */
/* @import "assets/styles/_tooltips.scss";n */
/* @import "assets/styles/_responsive.scss";
@import "assets/styles/_misc.scss"; */
/* @import "assets/styles/_utilities.scss";n */
/* @import "assets/styles/_demo.scss"; */

/* You can add global styles to this file, and also import other style files */
