.preloader {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
.loader,
.loader__figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader {
  overflow: visible;
  padding-top: 2em;
  height: 0;
  width: 2em;
}
.loader__figure {
  height: 0;
  width: 0;
  box-sizing: border-box;
  border: 0 solid var(--bs-white);
  border-radius: 50%;
  animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.loader__label {
  float: left;
  margin-left: 50%;
  transform: translateX(-50%);
  margin: 0.5em 0 0 50%;
  font-size: 0.875em;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: var(--bs-white);
  white-space: nowrap;
  animation: loader-label 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes loader-figure {
  0% {
    height: 0;
    width: 0;
    background-color: var(--bs-white);
  }
  29% {
    background-color: var(--bs-white);
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
@keyframes loader-label {
  0% {
    opacity: 0.25;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
.topbar {
  background: var(--bs-dark);
  position: relative;
  z-index: 3;
}
.topbar .navbar-collapse {
  padding: 0;
}
.topbar .top-navbar {
  padding: 0;
}
.topbar .top-navbar .dropdown-toggle:after {
  display: none;
}
.topbar .top-navbar .navbar-header {
  background: rgba(0, 0, 0, 0.05);
  line-height: 56px;
  padding-left: 10px;
}
.topbar .top-navbar .navbar-header .navbar-brand {
  margin-right: 0;
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  align-items: center;
}
.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
  display: inline-block;
}
.topbar .top-navbar .navbar-header .navbar-brand b {
  line-height: 50px;
  display: inline-block;
}
.topbar .top-navbar .profile-pic {
  white-space: nowrap;
}
.topbar .top-navbar .profile-pic img {
  width: 30px;
  border-radius: 100%;
}
.topbar .top-navbar .profile-pic span {
  font-size: 14px;
  white-space: nowrap;
}
.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
  line-height: 40px;
}
.topbar .top-navbar .navbar-nav > .nav-item > span {
  line-height: 45px;
  font-size: 24px;
  font-weight: 500;
  color: var(--bs-white);
  padding: 0 10px;
}
.topbar .dropdown-menu {
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  border-color: #dee2e6;
}
.topbar .dropdown-menu .dropdown-item {
  padding: 7px 1.5rem;
}
.mini-sidebar .topbar .top-navbar .navbar-header .navbar-brand {
  justify-content: center;
}
.left-sidebar {
  position: absolute;
  width: 230px;
  height: 100%;
  top: 0;
  z-index: 2;
  padding-top: 56px;
  background: var(--bs-body-bg);
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
}
.user-pro {
  margin-top: 20px;
}
.user-pro a img {
  width: 30px;
  margin-right: 10px;
}
.scroll-sidebar {
  height: calc(100% - 27px);
  position: relative;
}
.scroll-sidebar.ps .ps__scrollbar-y-rail {
  left: 2px;
  right: auto;
  background: 0 0;
  width: 6px;
}
.collapse.in {
  display: block;
}
.sidebar-nav {
  padding: 15px 0 0 0;
}
.sidebar-nav ul {
  margin: 0;
  padding: 0;
}
.sidebar-nav ul li {
  list-style: none;
}
.sidebar-nav ul li a {
  padding: 10px 35px 10px 15px;
  display: block;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.sidebar-nav ul li a.active {
  font-weight: 500;
  border-color: var(--bs-primary);
}
.sidebar-nav ul li ul {
  padding-left: 30px;
}
.sidebar-nav ul li ul li a {
  padding: 7px 35px 7px 15px;
}
.sidebar-nav ul li ul ul {
  padding-left: 15px;
}
.sidebar-nav ul li.nav-small-cap {
  font-size: 12px;
  margin-bottom: 0;
  padding: 30px 14px 14px 0;
  color: #6c757d;
  font-weight: 500;
}
.sidebar-nav ul li.nav-devider {
  height: 1px;
  background: #dee2e6;
  display: block;
  margin: 15px 0;
}
.sidebar-nav > ul > li > a {
  border-left: 3px solid transparent;
}
.sidebar-nav > ul > li > a i {
  width: 25px;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.sidebar-nav > ul > li > a .badge {
  float: right;
}
.sidebar-nav > ul > li {
  margin-bottom: 8px;
  margin-top: 8px;
}
.sidebar-nav > ul > li.active > a {
  font-weight: 500;
  border-color: var(--bs-primary);
}
.sidebar-nav .has-arrow {
  position: relative;
}
.sidebar-nav .has-arrow:after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: var(--bs-primary);
  right: 20px;
  transform: rotate(135deg) translate(0, -50%);
  transform-origin: top;
  top: 21px;
  transition: all 0.3s ease-out;
}
.sidebar-nav .has-arrow[aria-expanded="true"]:after,
.sidebar-nav li > .has-arrow.active:after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  top: 42%;
  width: 7px;
  transform: rotate(-135deg) translate(0, -50%);
}
.ps {
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none;
}
@supports (-ms-overflow-style: none) {
  .ps {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
.ps.ps--active-x > .ps__scrollbar-x-rail,
.ps.ps--active-y > .ps__scrollbar-y-rail {
  display: block;
  background-color: transparent;
}
.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9;
}
.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  background-color: transparent;
  width: 8px;
}
.ps > .ps__scrollbar-x-rail {
  display: none;
  position: absolute;
  opacity: 0;
  bottom: 0;
  height: 6px;
}
.ps > .ps__scrollbar-x-rail > .ps__scrollbar-x {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  bottom: 2px;
  height: 6px;
}
.ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
  height: 6px;
}
.ps > .ps__scrollbar-y-rail {
  display: none;
  position: absolute;
  opacity: 0;
  right: 0;
  width: 6px;
}
.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  right: 2px;
  width: 6px;
}
.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
  width: 6px;
}
.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}
.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
  background-color: rgba(0, 0, 0, 0.2);
  height: 6px;
}
.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  background-color: rgba(0, 0, 0, 0.2);
  width: 6px;
}
.ps:hover > .ps__scrollbar-x-rail,
.ps:hover > .ps__scrollbar-y-rail {
  opacity: 0.6;
}
.ps:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
  background-color: rgba(0, 0, 0, 0.2);
}
.ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
  background-color: rgba(0, 0, 0, 0.2);
}
.form-material .form-group {
  overflow: hidden;
}
.form-material .form-control {
  background-color: rgba(0, 0, 0, 0);
  background-position: center bottom, center calc(100% - 1px);
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  padding: 0;
  transition: background 0s ease-out 0s;
}
.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
  background-image: linear-gradient(#0d6efd, #0d6efd),
    linear-gradient(#e9ecef, #e9ecef);
  border: 0 none;
  border-radius: 0;
  box-shadow: none;
  float: none;
}
.form-material .form-control.focus,
.form-material .form-control:focus {
  background-size: 100% 2px, 100% 1px;
  outline: 0 none;
  transition-duration: 0.3s;
}
.form-material input:-webkit-autofill,
.form-material select:-webkit-autofill,
.form-material textarea:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px #fff, 0 0 0 rgba(102, 175, 233, 0.6) !important;
  border-bottom: 1px solid #e9ecef !important;
  -webkit-transition: border-bottom 0.5s !important;
  transition: border-bottom 0.5s !important;
}
.form-material input:-webkit-autofill:focus,
.form-material input:-webkit-autofill:hover,
.form-material select:-webkit-autofill:focus,
.form-material select:-webkit-autofill:hover,
.form-material textarea:-webkit-autofill:focus,
.form-material textarea:-webkit-autofill:hover {
  border-color: #0d6efd !important;
}
.nav-tabs-filled li .nav-link {
  border: 0;
  margin-right: 3px;
  color: #495057;
}
.nav-tabs-filled li .nav-link.active {
  background: #0d6efd;
  color: var(--bs-white);
}
.nav-tabs-filled li .nav-link:hover {
  color: var(--bs-white);
  background: #0d6efd;
}
.nav-tabs-flat li .nav-link {
  border-color: transparent;
  opacity: 0.875;
  color: #495057;
}
.nav-tabs-flat li .nav-link.active,
.nav-tabs-flat li .nav-link.active:focus,
.nav-tabs-flat li .nav-link:focus {
  background-color: #fafbfe;
  border-color: transparent;
  border-bottom: 2px solid #0d6efd;
  color: #0d6efd;
  opacity: 1;
}
.nav-tabs-flat li .nav-link:hover {
  border-color: transparent;
  border-bottom: 2px solid #599bfe;
  opacity: 1;
}
#main-wrapper {
  width: 100%;
  overflow: hidden;
}
.page-wrapper {
  background: #fff;
  position: relative;
}
.page-titles {
  background: var(--bs-white);
  padding: 14px 10px;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);
  margin: 0 -25px 25px -25px;
}
.page-titles h4 {
  margin-bottom: 0;
  margin-top: 0;
}
.page-titles .breadcrumb {
  padding: 0;
  margin: 0;
  background: 0 0;
  font-size: 12px;
}
.page-titles .breadcrumb li a {
  color: #212529;
  text-decoration: none;
}
.page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  float: unset !important;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  color: #ced4da;
  font-size: 11px;
  font-weight: 900;
}
.page-titles .breadcrumb .breadcrumb-item.active {
  float: unset !important;
  color: var(--bs-primary);
  font-weight: 500;
}
.footer {
  bottom: 0;
  color: #212529;
  left: 0;
  padding: 17px 15px;
  right: 0;
  border-top: 1px solid #dee2e6;
  background: var(--bs-white);
}
.fixed-sidebar .left-sidebar,
.fixed-sidebar .navbar-header {
  position: fixed;
}
.fixed-sidebar .navbar-collapse {
  margin-left: 230px;
}
.fixed-sidebar.mini-sidebar .footer,
.fixed-sidebar.mini-sidebar .navbar-collapse {
  margin-left: 70px;
}
@media (max-width: 768px) {
  .wrap-main {
    margin-left: 0px !important;
  }
  .fixed-sidebar.mini-sidebar .navbar-header {
    position: relative;
  }
  .fixed-sidebar.mini-sidebar .navbar-collapse {
    margin-left: 0;
  }
  .mini-sidebar .left-sidebar,
  .mini-sidebar .sidebar-footer {
    left: -230px;
  }
  .mini-sidebar.show-sidebar .left-sidebar,
  .mini-sidebar.show-sidebar .sidebar-footer {
    left: 0;
  }
  .container-fluid {
    padding: 0 15px 0 15px;
    overflow: hidden;
  }
  .topbar {
    width: 100%;
  }
  .topbar .top-navbar {
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-align-items: center;
  }
  .topbar .top-navbar .navbar-collapse {
    display: flex !important;
    width: 100% !important;
  }
  .topbar .top-navbar .navbar-nav {
    flex-direction: row;
  }
  .topbar .top-navbar .navbar-nav > .nav-item.show {
    position: static;
  }
  .topbar .top-navbar .navbar-nav > .nav-item.show .dropdown-menu {
    width: 100%;
    margin-top: 0;
  }
  .topbar .top-navbar .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .login-register {
    position: relative;
    overflow: hidden;
  }
  .fc-toolbar .fc-center,
  .fc-toolbar .fc-left,
  .fc-toolbar .fc-right {
    float: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    overflow: hidden;
  }
  .hidden-md-down {
    display: none;
  }
}
.fixed-header .topbar {
  position: fixed;
  width: 100%;
}
.fixed-header .page-wrapper {
  padding-top: 57px;
}
.fixed-layout .left-sidebar,
.fixed-layout .topbar {
  position: fixed;
}
.fixed-layout .topbar {
  width: 100%;
}
.fixed-layout .page-wrapper {
  padding-top: 57px;
}
.boxed #main-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}
.boxed #main-wrapper .sidebar-footer {
  position: absolute;
}
.boxed #main-wrapper .topbar {
  max-width: 1300px;
}
.boxed #main-wrapper .footer {
  display: none;
}
.single-column .left-sidebar {
  display: none;
}
.single-column .page-wrapper {
  margin-left: 0 !important;
}
@media (min-width: 768px) {
  .mini-sidebar .top-navbar .navbar-header {
    text-align: center;
    flex-shrink: 0;
    padding-left: 0;
  }
  .mini-sidebar .footer,
  .mini-sidebar .page-wrapper {
    margin-left: 56px;
  }
  .mini-sidebar .left-sidebar {
    width: 56px;
  }
  .mini-sidebar .scroll-sidebar {
    padding-bottom: 0;
    position: absolute;
    height: calc(100vh - 70px);
  }
  .mini-sidebar .scroll-sidebar .u-dropdown {
    display: none;
  }
  .mini-sidebar .sidebar-nav {
    background: 0 0;
  }
  .mini-sidebar .sidebar-nav #sidebarnav li {
    position: relative;
  }
  .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
    position: absolute;
    left: 56px;
    top: 46px;
    width: 230px;
    padding-bottom: 10px;
    z-index: 4;
    background: var(--bs-light);
    display: none;
    padding-left: 1px;
  }
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul {
    height: auto !important;
    overflow: auto;
  }
  .mini-sidebar .sidebar-nav #sidebarnav > li > a {
    width: 56px;
    padding: 15px 13px 15px 13px;
  }
  .mini-sidebar .sidebar-nav #sidebarnav .user-pro > a {
    padding-left: 18px;
  }
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a {
    width: calc(230px + 56px);
    background: var(--bs-light);
  }
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .hide-menu {
    display: inline;
  }
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .label {
    display: none;
  }
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul,
  .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul.collapse {
    display: block;
  }
  .mini-sidebar .sidebar-nav #sidebarnav .hide-menu,
  .mini-sidebar .sidebar-nav #sidebarnav .nav-small-cap,
  .mini-sidebar .sidebar-nav #sidebarnav .sidebar-footer,
  .mini-sidebar .sidebar-nav #sidebarnav .user-profile .profile-text,
  .mini-sidebar .sidebar-nav #sidebarnav > .label,
  .mini-sidebar .sidebar-nav #sidebarnav > li > a.has-arrow:after {
    display: none;
  }
}

.logo-center .top-navbar .navbar-header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.login-register {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(../images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
}
.login-register:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
  top: 0;
  left: 0;
}
.ui-auth-about-sistem {
  text-align: center;
}
.ui-auth-about-sistem .card {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}
.ui-auth-about-sistem .text-version {
  font-size: 0.6em;
}
.ui-auth-about-sistem,
.ui-auth-form-container {
  min-width: 18.75rem;
  z-index: 1;
}
@media (min-width: 576px) {
  .ui-auth-about-sistem,
  .ui-auth-form-container {
    min-width: 20rem;
  }
}
@media (min-width: 768px) {
  .login-register {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    align-items: stretch;
  }
  .ui-auth-about-sistem,
  .ui-auth-form-container {
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22rem;
  }
  .ui-auth-about-sistem .card,
  .ui-auth-form-container .card {
    margin-bottom: 0;
  }
  .ui-auth-about-sistem {
    flex-grow: 2;
    align-self: center;
    justify-content: center;
  }
  .ui-auth-form-container {
    flex-grow: 1;
    background: #fff;
  }
}
@media (min-width: 992px) {
  .ui-auth-about-sistem {
    flex-grow: 3;
  }
}
@media (min-width: 1200px) {
  .ui-auth-about-sistem {
    flex-grow: 5;
  }
  .ui-auth-form-container {
    flex-grow: 2;
  }
}
@media (min-width: 768px) {
  .footer,
  .page-wrapper {
    margin-left: 230px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    flex-shrink: 0;
  }
  .navbar-header .navbar-brand {
    padding-top: 0;
  }
}
